# 第7章 文本数据

2020.06.24,   2020.06.25 review,

In [1]:
import pandas as pd
import numpy as np

## 一、string类型的性质

### 1. string与object的区别
#### string类型和object不同之处有三：
#### ① 字符存取方法（string accessor methods，如str.count）会返回相应数据的Nullable类型，而object会随缺失值的存在而改变返回类型
#### ② 某些Series方法不能在string上使用，例如： Series.str.decode()，因为存储的是字符串而不是字节
#### ③ string类型在缺失值存储或运算时，类型会广播为pd.NA，而不是浮点型np.nan
#### 其余全部内容在当前版本下完全一致，但迎合Pandas的发展模式，我们仍然全部用string来操作字符串

### 2. string类型的转换
#### 如果将一个其他类型的容器直接转换string类型可能会出错：

In [8]:
#pd.Series([1,'1.']).astype('string') #报错 ValueError: StringArray requires a sequence of strings or pandas.NA
#pd.Series([1,2]).astype('string') #报错 ValueError: StringArray requires a sequence of strings or pandas.NA
#pd.Series([True,False]).astype('string') #报错 ValueError: StringArray requires a sequence of strings or pandas.NA

#### 当下正确的方法是分两部转换，先转为str型object，再转为string类型：

In [9]:
pd.Series([1,'1.']) # 原始类型是 int64 和 str 混合的 object
#pd.Series([1,'1.']).astype('string') #直接转换会报错 ValueError: StringArray requires a sequence of strings or pandas.NA

0     1
1    1.
dtype: object

In [10]:
pd.Series([1,'1.']).astype('str') # 第一步转为 str 的object

0     1
1    1.
dtype: object

In [11]:
pd.Series([1,'1.']).astype('str').astype('string') # 第二步转为 string 类型

0     1
1    1.
dtype: string

In [12]:
#上述转换是可逆的吗？
# 转回object肯定是没问题的, object就类似于 "不能识别的数据类型"
pd.Series([1,'1.']).astype('str').astype('string').astype('str')

0     1
1    1.
dtype: object

In [13]:
pd.Series([1,2]) #原始类型是 int64
#pd.Series([1,2]).astype('string') #直接转换会报错--ValueError: StringArray requires a sequence of strings or pandas.NA

0    1
1    2
dtype: int64

In [14]:
pd.Series([1,2]).astype('str') # 第一步转为 str 类型的 object

0    1
1    2
dtype: object

In [15]:
pd.Series([1,2]).astype('str').astype('string') # 第二步转为 string 类型

0    1
1    2
dtype: string

In [17]:
# 能否转回 int64?
pd.Series([1,2]).astype('str').astype('string').astype('str')
pd.Series([1,2]).astype('str').astype('string').astype('str').astype('int64')

0    1
1    2
dtype: int64

In [22]:
# float 类型呢?
pd.Series([1.1,2]).astype('str').astype('string').astype('str').astype('float')
# 也没问题
# 但是包含缺失值的话就需要注意了

0    1.1
1    2.0
dtype: float64

In [38]:
# 这个缺失值好像算是正确转换了的
type(pd.Series([1.1,2,np.nan]).astype('str').astype('string').astype('str').astype('float')[2]) ,type(np.nan)

(numpy.float64, float)

In [23]:
pd.Series([True,False]) # 原始类型是布尔型
#pd.Series([True,False]).astype('string') #直接转换会报错 ValueError: StringArray requires a sequence of strings or pandas.NA

0     True
1    False
dtype: bool

In [24]:
pd.Series([True,False]).astype('str') #第一步转为 str 类型的object

0     True
1    False
dtype: object

In [25]:
pd.Series([True,False]).astype('str').astype('string') #第二步转为 string 类型

0     True
1    False
dtype: string

In [32]:
# 将时间转为string
from datetime import datetime
pd.Series([datetime.now(),datetime(2008,8,8,8,8,8)])

0   2020-06-25 09:08:21.423238
1   2008-08-08 08:08:08.000000
dtype: datetime64[ns]

In [29]:
pd.Series([datetime.now(),datetime(2008,8,8,8,8,8)]).astype('str')

0    2020-06-25 09:07:39.336831
1    2008-08-08 08:08:08.000000
dtype: object

In [30]:
pd.Series([datetime.now(),datetime(2008,8,8,8,8,8)]).astype('str').astype('string')

0    2020-06-25 09:07:51.157507
1    2008-08-08 08:08:08.000000
dtype: string

In [33]:
# 时间可以直接转为 string
pd.Series([datetime.now(),datetime(2008,8,8,8,8,8)]).astype('string')

0    2020-06-25 09:09:01.577534
1    2008-08-08 08:08:08.000000
dtype: string

In [34]:
# 将string转为时间也可以直接转
pd.Series([datetime.now(),datetime(2008,8,8,8,8,8)]).astype('string').astype('datetime64[ns]')

0   2020-06-25 09:20:25.553656
1   2008-08-08 08:08:08.000000
dtype: datetime64[ns]

In [ ]:
# 提取日期留待第九章学习

* 但这种方法也不是特别正确, 因为会把缺失值也按字面显示转为string. 见下文中的例子

## 二、拆分与拼接

### 1. str.split方法

#### （a）分割符与str的位置元素选取

In [2]:
s = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'], dtype="string")
s

0    a_b_c
1    c_d_e
2     <NA>
3    f_g_h
dtype: string

#### 根据某一个元素分割，默认为空格

In [64]:
s.str.split('_')

0    [a, b, c]
1    [c, d, e]
2         <NA>
3    [f, g, h]
dtype: object

In [65]:
# 对比元素级的方法--缺失值没有split的属性方法,因此会报错
s[0].split('_'),s[1].split('_'),s[3].split('_'),
#s[2].split('_'),# AttributeError: 'NAType' object has no attribute 'split'

(['a', 'b', 'c'], ['c', 'd', 'e'], ['f', 'g', 'h'])

In [230]:
# 因此, 由于缺失值的存在, Series对象的 元素级 apply 方法不能直接使用
#s.apply(lambda x: x.split('_')) 
# AttributeError: 'NAType' object has no attribute 'split'

In [66]:
# 使用apply方法的话,需要分情况
# 但是 .str.split 方法为什么能正确执行? --因为, 第一步的 .str 相当于是做了判断和转换: 如不是缺失值则转为str类型, 然后再进行下一步的split, 而缺失值则会什么都不做.
def split_func(x):
    if x is pd.NA:
        y = x
    else :
        y = x.split('_')
    return y
s.apply(lambda x: split_func(x))

0    [a, b, c]
1    [c, d, e]
2         <NA>
3    [f, g, h]
dtype: object

In [67]:
# 考虑一个例子
s_ = pd.Series(['a<b<c', 'c>d>e', np.nan, 'f<g>h'], dtype="string")
s_.str.split('<') # 直接调用 .str.split 方法是没问题的

0    [a, b, c]
1      [c>d>e]
2         <NA>
3     [f, g>h]
dtype: object

In [68]:
# 但如果先做了 astype 类型转换, 就出现问题了-缺失值被转为了它的字面表示 <NA> ,然后被split
s_.astype('str').str.split('<')

0    [a, b, c]
1      [c>d>e]
2      [, NA>]
3     [f, g>h]
dtype: object

In [70]:
import re
#s.apply(lambda x: re.split(x,'_')) # 使用正则表达式的分割函数同样会因为缺失值导致出问题 TypeError: first argument must be string or compiled pattern

In [71]:
# 使用正则表达式的方法,也需重新定义个函数以处理缺失值--所以re的代码也不够鲁棒, 实际使用时, 应该自行增加这类判断.
def my_re_split(x,rep=''):
    if x is pd.NA:
        y = x
    else :
        y = re.split(rep,x)
    return y
s.apply(lambda x: my_re_split(x,'_'))

0    [a, b, c]
1    [c, d, e]
2         <NA>
3    [f, g, h]
dtype: object

In [79]:
re.split('_',s[0]),re.split('_',s[0]),    re.split('_',s[3]),
# re.split('_',s[2]),#TypeError: expected string or bytes-like object

(['a', 'b', 'c'], ['a', 'b', 'c'], ['f', 'g', 'h'])

In [80]:
re.split??

Signature: re.split(pattern, string, maxsplit=0, flags=0)
Source:
def split(pattern, string, maxsplit=0, flags=0):
    """Split the source string by the occurrences of the pattern,
    returning a list containing the resulting substrings.  If
    capturing parentheses are used in pattern, then the text of all
    groups in the pattern are also returned as part of the resulting
    list.  If maxsplit is nonzero, at most maxsplit splits occur,
    and the remainder of the string is returned as the final element
    of the list."""
    return _compile(pattern, flags).split(string, maxsplit)
File:      d:\programdata\anaconda3\lib\re.py
Type:      function

#### 这里需要注意split后的类型是object，因为现在Series中的元素已经不是string，而是list(调用split后哪怕没被分割,也是返回list)，而string类型只能含有字符串

In [75]:
# 当然,这时候仍然可以用上述的迂回方式将list转为string---注意这时缺失值 pd.NA 也被转为了字面显示的字符串,幸好该缺失值表示法有类似于转义符的表达形式 <NA>
s.apply(lambda x: my_re_split(x,'_')).astype('str').astype('string')
# 但实际上很多时候是没必要这么做的,因为我们需要的就是这个list,唯一需要的是要把list分拆成多列,或提取某个元素, 分别见下文的 expand 参数和后边的 extract 方法

0    ['a', 'b', 'c']
1    ['c', 'd', 'e']
2               <NA>
3    ['f', 'g', 'h']
dtype: string

#### str方法支持元素的选择，如果该单元格元素是列表，那么str[i]表示取出第i个元素，如果是单个元素，则先把元素转为列表再取出

In [76]:
s.str.split('_').str[1]
# 缺失值则还是返回缺失值

0       b
1       d
2    <NA>
3       g
dtype: object

In [77]:
s.str.split('_')
# 注意分拆后, 非空的单元格里的元素已经是个list了,但str[1]方法能够准确地提取到这个list的相应位置的元素--这就是Series of list对象的向量化切片方法

0    [a, b, c]
1    [c, d, e]
2         <NA>
3    [f, g, h]
dtype: object

In [258]:
# 向量化的切片方式--1
s.str.split('_').str[1:3]

0    [b, c]
1    [d, e]
2      <NA>
3    [g, h]
dtype: object

In [259]:
# 向量化的切片方式--2
# 逆序遍历
s.str.split('_').str[::-1]
# 这么看来, 其他list的各种切片的操作都应该会被这种方法所支持

0    [c, b, a]
1    [e, d, c]
2         <NA>
3    [h, g, f]
dtype: object

In [62]:
# 字符串对象当然也是支持切片的, 但转为字符串以后就不容易取到list的元素了
s.apply(lambda x: my_re_split(x,'_')).astype('str').astype('string').str[:3]
# 注意这个奇怪的事情--pd.NA对象也被转为 string 了--这不合适--可以通过replace方法先将 <NA> 字符串替换为缺失值
# .astype('str').astype('string') 会把 pd.NA 也按字面显示转为 string, 这就不合适了吧?

0    ['a
1    <NA
2    ['d
dtype: string

In [54]:
# replace方法先将 <NA> 字符串替换为缺失值--注意这个方法是针对单元格的,而不是单元格内的内容作为字符串的 .str.replace 方法. 
type(s.apply(lambda x: my_re_split(x,'_')).astype('str').astype('string').replace('<NA>',pd.NA).str[:3][2])

pandas._libs.missing.NAType

In [273]:
s[2],type(s[2]),

(<NA>, pandas._libs.missing.NAType)

In [276]:
s.apply(lambda x: split_func(x))[2],type(s.apply(lambda x: split_func(x))[2])

(<NA>, pandas._libs.missing.NAType)

In [275]:
s.apply(lambda x: my_re_split(x,'_'))[2],type(s.apply(lambda x: my_re_split(x,'_'))[2]),

(<NA>, pandas._libs.missing.NAType)

In [284]:
s.apply(lambda x: my_re_split(x,'_')).astype('str')[2],type(s.apply(lambda x: my_re_split(x,'_')).astype('str')[2])
# 在这一步就出问题了--astype('str')会按字面显示将objec转为字符串

('<NA>', str)

In [274]:
# pd.NA变成了 string--已经出现了数据处理错误
s.apply(lambda x: my_re_split(x,'_')).astype('str').astype('string')[2],type(s.apply(lambda x: my_re_split(x,'_')).astype('str').astype('string')[2])

('<NA>', str)

In [283]:
pd.Series([1,'1.',pd.NA]).astype('str').astype('string')[2],type(pd.Series([1,'1.',pd.NA]).astype('str').astype('string')[2]) 
pd.Series([1,'1.',np.nan]).astype('str').astype('string')[2],type(pd.Series([1,'1.',np.nan]).astype('str').astype('string')[2]) 
pd.Series([1,'1.',None]).astype('str').astype('string')[2],type(pd.Series([1,'1.',None]).astype('str').astype('string')[2]) 
#pd.Series([1,2,pd.NA]).astype('str').astype('string')[2], type(pd.Series([1,2,pd.NA]).astype('str').astype('string')[2])
#pd.Series([1,2,np.nan]).astype('str').astype('string')[2], type(pd.Series([1,2,np.nan]).astype('str').astype('string')[2])
#pd.Series([True,False]).astype('string')

('None', str)

In [285]:
# astype是个比较霸道的类型转换方式, 缺乏对缺失值的有效操作方式.
s.astype??

Signature: s.astype(dtype, copy: bool = True, errors: str = 'raise') -> ~FrameOrSeries
Source:
    def astype(
        self: FrameOrSeries, dtype, copy: bool_t = True, errors: str = "raise"
    ) -> FrameOrSeries:
        """
        Cast a pandas object to a specified dtype ``dtype``.

        Parameters
        ----------
        dtype : data type, or dict of column name -> data type
            Use a numpy.dtype or Python type to cast entire pandas object to
            the same type. Alternatively, use {col: dtype, ...}, where col is a
            column label and dtype is a numpy.dtype or Python type to cast one
            or more of the DataFrame's columns to column-specific types.
        copy : bool, default True
            Return a copy when ``copy=True`` (be very careful setting
            ``copy=False`` as changes to values then may propagate to other
            pandas objects).
        errors : {'raise', 'ignore'}, default 'raise'
            Control raising of exceptions on invalid data for provided dtype.

            - ``raise`` : allow exceptions to be raised
            - ``ignore`` : suppress exceptions. On error return original object.

        Returns
        -------
        casted : same type as caller

        See Also
        --------
        to_datetime : Convert argument to datetime.
        to_timedelta : Convert argument to timedelta.
        to_numeric : Convert argument to a numeric type.
        numpy.ndarray.astype : Cast a numpy array to a specified type.

        Examples
        --------
        Create a DataFrame:

        >>> d = {'col1': [1, 2], 'col2': [3, 4]}
        >>> df = pd.DataFrame(data=d)
        >>> df.dtypes
        col1    int64
        col2    int64
        dtype: object

        Cast all columns to int32:

        >>> df.astype('int32').dtypes
        col1    int32
        col2    int32
        dtype: object

        Cast col1 to int32 using a dictionary:

        >>> df.astype({'col1': 'int32'}).dtypes
        col1    int32
        col2    int64
        dtype: object

        Create a series:

        >>> ser = pd.Series([1, 2], dtype='int32')
        >>> ser
        0    1
        1    2
        dtype: int32
        >>> ser.astype('int64')
        0    1
        1    2
        dtype: int64

        Convert to categorical type:

        >>> ser.astype('category')
        0    1
        1    2
        dtype: category
        Categories (2, int64): [1, 2]

        Convert to ordered categorical type with custom ordering:

        >>> cat_dtype = pd.api.types.CategoricalDtype(
        ...     categories=[2, 1], ordered=True)
        >>> ser.astype(cat_dtype)
        0    1
        1    2
        dtype: category
        Categories (2, int64): [2 < 1]

        Note that using ``copy=False`` and changing data on a new
        pandas object may propagate changes:

        >>> s1 = pd.Series([1, 2])
        >>> s2 = s1.astype('int64', copy=False)
        >>> s2[0] = 10
        >>> s1  # note that s1[0] has changed too
        0    10
        1     2
        dtype: int64
        """
        if is_dict_like(dtype):
            if self.ndim == 1:  # i.e. Series
                if len(dtype) > 1 or self.name not in dtype:
                    raise KeyError(
                        "Only the Series name can be used for "
                        "the key in Series dtype mappings."
                    )
                new_type = dtype[self.name]
                return self.astype(new_type, copy, errors)

            for col_name in dtype.keys():
                if col_name not in self:
                    raise KeyError(
                        "Only a column name can be used for the "
                        "key in a dtype mappings argument."
                    )
            results = []
            for col_name, col in self.items():
                if col_name in dtype:
                    results.append(
                        col.astype(dtype=dtype[col_name], copy=copy, errors=errors)
                    )
                else:
                    results.append(col.copy() if copy else col)

        elif is_extension_array_dtype(dtype) and self.ndim > 1:
            # GH 18099/22869: columnwise conversion to extension dtype
            # GH 24704: use iloc to handle duplicate column names
            results = [
                self.iloc[:, i].astype(dtype, copy=copy)
                for i in range(len(self.columns))
            ]

        else:
            # else, only a single dtype is given
            new_data = self._data.astype(dtype=dtype, copy=copy, errors=errors)
            return self._constructor(new_data).__finalize__(self)

        # GH 19920: retain column metadata after concat
        result = pd.concat(results, axis=1, copy=False)
        result.columns = self.columns
        return result
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method

In [291]:
s.str.split('_')[:][1],  s.str.split('_')[1]# 选取效果和上述是有些区别的

(['c', 'd', 'e'], ['c', 'd', 'e'])

In [56]:
pd.Series(['a_b_c', ['a','b','c']], dtype="object")#.str[1]
#第一个元素先用list('a_b_c')转为['a','_','b','_','c'],然后再切片
#第二个元素是个list, list会正常的切片

0        a_b_c
1    [a, b, c]
dtype: object

In [295]:
pd.Series(['a_b_c', ['a','b','c']], dtype="object").str[1]

0    _
1    b
dtype: object

In [55]:
pd.Series(['a_b_c', ['a','b','c']], dtype="object").str[:2]
# str虽然看起来是转为str再操作, 但实际上, 对于是字符串的单元格,会选择该字符串相应位置的元素,而对于是list的, 则会使用切片方法

0        a_
1    [a, b]
dtype: object

#### （b）其他参数
#### expand参数控制了是否将列拆开，n参数代表最多分割多少次(分割成n+1列)

In [58]:
s.str.split??
#n : int, default -1 (all)
#    Limit number of splits in output.
#    ``None``, 0 and -1 will be interpreted as return all splits.
#expand : bool, default False
#    Expand the splitted strings into separate columns.
#
#    * If ``True``, return DataFrame/MultiIndex expanding dimensionality.
#    * If ``False``, return Series/Index, containing lists of strings.

Signature: s.str.split(pat=None, n=-1, expand=False)
Docstring:
Split strings around given separator/delimiter.

Splits the string in the Series/Index from the beginning,
at the specified delimiter string. Equivalent to :meth:`str.split`.

Parameters
----------
pat : str, optional
    String or regular expression to split on.
    If not specified, split on whitespace.
n : int, default -1 (all)
    Limit number of splits in output.
    ``None``, 0 and -1 will be interpreted as return all splits.
expand : bool, default False
    Expand the splitted strings into separate columns.

    * If ``True``, return DataFrame/MultiIndex expanding dimensionality.
    * If ``False``, return Series/Index, containing lists of strings.

Returns
-------
Series, Index, DataFrame or MultiIndex
    Type matches caller unless ``expand=True`` (see Notes).

See Also
--------
Series.str.split : Split strings around given separator/delimiter.
Series.str.rsplit : Splits string around given separator/delimiter,
    starting from the right.
Series.str.join : Join lists contained as elements in the Series/Index
    with passed delimiter.
str.split : Standard library version for split.
str.rsplit : Standard library version for rsplit.

Notes
-----
The handling of the `n` keyword depends on the number of found splits:

- If found splits > `n`,  make first `n` splits only
- If found splits <= `n`, make all splits
- If for a certain row the number of found splits < `n`,
  append `None` for padding up to `n` if ``expand=True``

If using ``expand=True``, Series and Index callers return DataFrame and
MultiIndex objects, respectively.

Examples
--------
>>> s = pd.Series(["this is a regular sentence",
...                "https://docs.python.org/3/tutorial/index.html",
...                np.nan])
0                       this is a regular sentence
1    https://docs.python.org/3/tutorial/index.html
2                                              NaN
dtype: object

In the default setting, the string is split by whitespace.

>>> s.str.split()
0                   [this, is, a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

Without the `n` parameter, the outputs of `rsplit` and `split`
are identical.

>>> s.str.rsplit()
0                   [this, is, a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

The `n` parameter can be used to limit the number of splits on the
delimiter. The outputs of `split` and `rsplit` are different.

>>> s.str.split(n=2)
0                     [this, is, a regular sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

>>> s.str.rsplit(n=2)
0                     [this is a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

The `pat` parameter can be used to split by other characters.

>>> s.str.split(pat = "/")
0                         [this is a regular sentence]
1    [https:, , docs.python.org, 3, tutorial, index...
2                                                  NaN
dtype: object

When using ``expand=True``, the split elements will expand out into
separate columns. If NaN is present, it is propagated throughout
the columns during the split.

>>> s.str.split(expand=True)
                                               0     1     2        3
0                                           this    is     a  regular
1  https://docs.python.org/3/tutorial/index.html  None  None     None
2                                            NaN   NaN   NaN      NaN \
             4
0     sentence
1         None
2          NaN

For slightly more complex use cases like splitting the html document name
from a url, a combination of parameter settings can be used.

>>> s.str.rsplit("/", n=1, expand=True)
                                    0           1
0          this is a regular sentence        None
1  https://docs.python.org/3/tutorial  index.html
2                                 NaN         NaN

Remember to escape special characters when explicitly using regular
expressions.

>>> s = pd.Series(["1+1=2"])

>>> s.str.split(r"\+|=", expand=True)
     0    1    2
0    1    1    2
Source:
    @Appender(_shared_docs["str_split"] % {"side": "beginning", "method": "split"})
    @forbid_nonstring_types(["bytes"])
    def split(self, pat=None, n=-1, expand=False):
        result = str_split(self._parent, pat, n=n)
        return self._wrap_result(result, expand=expand, returns_string=expand)
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\strings.py
Type:      method

In [57]:
s.str.split('_',expand=True)

      0     1     2
0     a     b     c
1     c     d     e
2  <NA>  <NA>  <NA>
3     f     g     h

In [301]:
s.str.split('_',n=3) #expand 默认是 False, 因此单独指定 n=3 是没有效果的

0    [a, b, c]
1    [c, d, e]
2         <NA>
3    [f, g, h]
dtype: object

In [58]:
s.str.split('_',expand=True,n=1) # n=1 则拆分一次, expand=True 则会拆分成多列--由于只进行了一次拆分,于是被拆分成了1+1=2列

      0     1
0     a   b_c
1     c   d_e
2  <NA>  <NA>
3     f   g_h

In [59]:
s.str.split('_',expand=True,n=1)

      0     1
0     a   b_c
1     c   d_e
2  <NA>  <NA>
3     f   g_h

### 2. str.cat方法

#### （a）不同对象的拼接模式
#### cat方法对于不同对象的作用结果并不相同，其中的对象包括：单列、双列、多列

#### ① 对于单个Series而言，就是指所有的元素进行字符合并为一个字符串

In [3]:
s = pd.Series(['ab',None,'d'],dtype='string')
s

0      ab
1    <NA>
2       d
dtype: string

In [4]:
s.str.cat()

'abd'

#### 其中可选sep分隔符参数，和缺失值替代字符na_rep参数

In [5]:
s.str.cat(sep=',')
# oracle 里有 listagg(11.2及以上)和 wm_concat 两个函数实现相同功能

'ab,d'

In [6]:
s.str.cat(sep=',',na_rep='*')

'ab,*,d'

In [13]:
# 配合分组函数使用
s_= pd.DataFrame({'name':['allen',None,'mike','joy','ross','john','lisa','lily'],'gender':['male',None,'male','female','male','female','male','female']},dtype='string')
s_

    name  gender
0  allen    male
1   <NA>    <NA>
2   mike    male
3    joy  female
4   ross    male
5   john  female
6   lisa    male
7   lily  female

In [14]:
s_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      string
 1   gender  7 non-null      string
dtypes: string(2)
memory usage: 256.0 bytes

In [15]:
s_.groupby('gender').apply(lambda x:x['name'].str.cat(sep=',',na_rep='?'))
# 分组时会忽略缺失值--应该先用一个"安全"的字符串替换缺失值,等分组后再替换回去.

gender
female           joy,john,lily
male      allen,mike,ross,lisa
dtype: object

In [17]:
# 先用安全的字符串'unknown'填充缺失值,分组后,在cat前再把name列的'unknown'替换回缺失值
s_.fillna('unknown').groupby('gender').apply(lambda x:x['name'].replace('unknown',pd.NA).str.cat(sep=',',na_rep='?'))

gender
female            joy,john,lily
male       allen,mike,ross,lisa
unknown                       ?
dtype: object

In [ ]:
# 其实还可以进一步先排序再cat.排序时是否可以设置缺失值放在前边还是放在后边?

#### ② 对于两个Series合并而言，是对应索引的元素进行合并

In [19]:
s2 = pd.Series(['24','cc',None],dtype='string')
s2

0      24
1      cc
2    <NA>
dtype: string

In [20]:
s.str.cat(s2)
# 第二和第三个元素都成了pd.NA了--默认情况下,缺失值会传播

0    ab24
1    <NA>
2    <NA>
dtype: string

#### 同样也有相应参数，需要注意的是两个缺失值会被同时替换

In [21]:
s.str.cat(s2,sep=',',na_rep='*')

0    ab,24
1     *,cc
2      d,*
dtype: string

In [23]:
#如果只替换其中之一的缺失值,或者分别用不同的字符替换两个series的缺失值,可以先使用 replace 方法替换缺失值后, 再用 str.cat 方法拼接.
s.replace(pd.NA,'*').str.cat(s2,sep=',',na_rep='?')

0    ab,24
1     *,cc
2      d,?
dtype: string

#### ③ 多列拼接可以分为表的拼接和多Series拼接

#### 表的拼接

In [24]:
display(s)
d_ = pd.DataFrame({0:['1','3','5'],1:['5','b',None]},dtype='string')
display(d_)
s.str.cat(d_,na_rep='*')
# 将一个 Series 对象和一个等长的 DF 对象按索引进行行的拼接,会按索引对其后,

0      ab
1    <NA>
2       d
dtype: string

   0     1
0  1     5
1  3     b
2  5  <NA>

0    ab15
1     *3b
2     d5*
dtype: string

In [25]:
# 对照来看, 确实是把df的行和series的单元格都拼在一起了.
s.to_frame().join(d_,lsuffix='_l')

    0_l  0     1
0    ab  1     5
1  <NA>  3     b
2     d  5  <NA>

In [313]:
# s.to_frame().join(d_,lsuffix='_l').str.cat(na_rep='*') 
#AttributeError: 'DataFrame' object has no attribute 'str'
# 想把 DF 的行拼接到一起还不是那么直接

In [34]:
# 一个将df按行拼接起来的思路
# 先构造索引一致且值全为空字符串的Series,然后用Series拼接df的方式, 用这个Series去拼接表
df=pd.DataFrame(np.random.randint(0,20,21).reshape(3,7),index=list('abc'),columns=['C_1','C_2','C_3','C_4','C_5','C_6','C_7']).astype('str')
display(df)
s1=pd.Series(''*3,index=df.index)
display(s1)
s1.str.cat(df,sep='+',na_rep='*')

  C_1 C_2 C_3 C_4 C_5 C_6 C_7
a   5   2  18  10   2  14   2
b  15  17   6  12   2   4  10
c   1  18  12  17   8   8   9

a
b
c
dtype: object

a     +5+2+18+10+2+14+2
b    +15+17+6+12+2+4+10
c     +1+18+12+17+8+8+9
dtype: object

In [35]:
# 或者, 将df的第一列单独拿出来作为 series, 用上述方法, 与 df 剩余的列进行拼接
df.C_1.str.cat(df.iloc[:,1:],sep='+',na_rep='*')

a     5+2+18+10+2+14+2
b    15+17+6+12+2+4+10
c     1+18+12+17+8+8+9
Name: C_1, dtype: object

In [36]:
# 还可以将df拆分成series, 然后用循环,进行拼接
s1=df.C_1
for col in df.columns[1:]:
    s1=s1.str.cat(df[col],sep='+')
s1

a     5+2+18+10+2+14+2
b    15+17+6+12+2+4+10
c     1+18+12+17+8+8+9
Name: C_1, dtype: object

#### 多个Series按索引拼接

In [37]:
s.str.cat([s+'0',s*2])

0    abab0abab
1         <NA>
2        dd0dd
dtype: string

In [320]:
#有没有实现该功能的类似的顶级方法? 来统一处理 Series 和 DataFrame?

#### （b）cat中的索引对齐
#### 当前版本中，如果两边合并的索引不相同且未指定join参数，默认为左连接，设置join='left'

In [38]:
s2 = pd.Series(list('abc'),index=[1,2,3],dtype='string')
s2

1    a
2    b
3    c
dtype: string

In [39]:
s.str.cat(s2,na_rep='*')

0    ab*
1     *a
2     db
dtype: string

In [42]:
# 如果二者索引没有对齐,相当于左连接,然后再拼接--由于左连接可能会引入缺失值,如果索引完全不对齐则会把s的每个元素与一个na_rep参数指定的字符串拼接起来.
s.str.cat(s1,sep='_',na_rep='*')

0    ab_*
1     *_*
2     d_*
dtype: string

In [43]:
# 不指定na_rep参数,则会导致缺失值的扩散
s.str.cat(s1)

0    <NA>
1    <NA>
2    <NA>
dtype: string

In [44]:
s1,s

(a     5+2+18+10+2+14+2
 b    15+17+6+12+2+4+10
 c     1+18+12+17+8+8+9
 Name: C_1, dtype: object,
 0      ab
 1    <NA>
 2       d
 dtype: string)

In [45]:
# 更换s1和s2的位置, 发现确实是左连接
s1.str.cat(s,na_rep='*')

a     5+2+18+10+2+14+2*
b    15+17+6+12+2+4+10*
c     1+18+12+17+8+8+9*
Name: C_1, dtype: object

## 三、替换
#### 广义上的替换，就是指str.replace函数的应用，fillna是针对缺失值的替换，上一章已经提及
#### 提到替换，就不可避免地接触到正则表达式，这里默认读者已掌握常见正则表达式知识点，若对其还不了解的，可以通过[这份资料](https://regexone.com/)来熟悉

### 1. str.replace的常见用法

In [46]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca','', np.nan, 'CABA', 'dog', 'cat'],dtype="string")
s

0       A
1       B
2       C
3    Aaba
4    Baca
5
6    <NA>
7    CABA
8     dog
9     cat
dtype: string

#### 第一个值写r开头的正则表达式，后一个写替换的字符串

In [47]:
s.str.replace(r'^[AB]','***') #把字符串开头(大写)的A或B替换为"***"

0       ***
1       ***
2         C
3    ***aba
4    ***aca
5
6      <NA>
7      CABA
8       dog
9       cat
dtype: string

In [51]:
s.str.replace(r'[(A)(B)]','***') # 分组替换, 把字符串当中(大写)的A或B都替换为"***"

0           ***
1           ***
2             C
3        ***aba
4        ***aca
5
6          <NA>
7    C*********
8           dog
9           cat
dtype: string

### 2. 子组与函数替换

#### 通过正整数调用子组（0返回字符本身，从1开始才是子组）

In [52]:
s.str.replace(r'([ABC])(\w+)',repl=lambda x:x.group(2)[1:]+'*')
#repl : str or callable
#    Replacement string or a callable. The callable is passed the regex
#    match object and must return a replacement string to be used.
#    See :func:`re.sub`.

0       A
1       B
2       C
3     ba*
4     ca*
5
6    <NA>
7     BA*
8     dog
9     cat
dtype: string

In [53]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5
6    <NA>
7    CABA
8     dog
9     cat
dtype: string

In [332]:
s.str.replace(r'([ABC])(\w+)',lambda x:x.group(0))#[0:]+'*')
# group(0) 返回字符串本身--没有匹配到的也是返回整个字符串, 如果是缺失值则还是返回缺失值

0       A
1       B
2       C
3    Aaba
4    Baca
5
6    <NA>
7    CABA
8     dog
9     cat
dtype: string

In [333]:
s.str.replace(r'([ABC])(\w+)',lambda x:x.group(1))#[0:]+'*')
# group(1) 返回匹配到的第一个子组--没有匹配的则继续返回整个字符串

0       A
1       B
2       C
3       A
4       B
5
6    <NA>
7       C
8     dog
9     cat
dtype: string

In [334]:
s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2))#[0:]+'*')
# group(2) 返回匹配到的第二个子组--没有匹配的则继续返回整个字符串
# 特别地,只匹配到一个子组的, 返回的是第一个子组呢,还是整个字符串呢?

0       A
1       B
2       C
3     aba
4     aca
5
6    <NA>
7     ABA
8     dog
9     cat
dtype: string

In [91]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca','', np.nan, 'CABA', 'dog', 'cat'],dtype="string")
dfs=s.to_frame()
dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(0))"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(0))
dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(1))"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(1))
dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2))"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2))
#dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(3))"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(3)) # IndexError: no such group
#dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(4))"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(4))
dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2)[1:])"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2)[1:])
dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(0)[1:]+'****')"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(0)[1:]+'****')#012689列都没有拼接****,但是有返回值
dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(1)[1:]+'****')"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(1)[1:]+'****')
dfs["s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2)[1:]+'****')"]=s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2)[1:]+'****')
dfs.T

,0,1,2,3,4,5,6,7,8,9
0,A,B,C,Aaba,Baca,,<NA>,CABA,dog,cat
"s.str.replace(r'([ABC])+(\w+)',lambda x:x.group(0))",A,B,C,aba,aca,,<NA>,A,dog,cat
"s.str.replace(r'([ABC])(\w+)',lambda x:x.group(0))",A,B,C,Aaba,Baca,,<NA>,CABA,dog,cat
"s.str.replace(r'([ABC])(\w+)',lambda x:x.group(1))",A,B,C,A,B,,<NA>,C,dog,cat
"s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2))",A,B,C,aba,aca,,<NA>,ABA,dog,cat
"s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2)[1:])",A,B,C,ba,ca,,<NA>,BA,dog,cat
"s.str.replace(r'([ABC])(\w+)',lambda x:x.group(0)[1:]+'****')",A,B,C,aba****,aca****,,<NA>,ABA****,dog,cat
"s.str.replace(r'([ABC])(\w+)',lambda x:x.group(1)[1:]+'****')",A,B,C,****,****,,<NA>,****,dog,cat
"s.str.replace(r'([ABC])(\w+)',lambda x:x.group(2)[1:]+'****')",A,B,C,ba****,ca****,,<NA>,BA****,dog,cat

In [59]:
who

col	 d_	 df	 dfs	 np	 pd	 s	 s1	 s2
s_

In [79]:
# 还需进一步研究...............
# 把ss的第一个元素设置为
ss = pd.Series(['Aa', 'B', 'C', 'Aaba', 'Baca','', np.nan, 'CABA', 'dog', 'cat'],dtype="string")
ss.str.replace('([ABC])([abc])',lambda x:x.group(0)+'='+x.group(1)+'+'+x.group(2))#[0:]+'*')
#ss.str.replace('([ABC])',lambda x:x.group(0)+','+x.group(1))#[0:]+'*')

0      Aa=A+a
1           B
2           C
3    Aa=A+aba
4    Ba=B+aca
5
6        <NA>
7        CABA
8         dog
9         cat
dtype: string

In [75]:
ss.str.replace('([ABC])',lambda x:print(x))#[0:]+'*')

<re.Match object; span=(0, 1), match='A'>
<re.Match object; span=(0, 1), match='B'>
<re.Match object; span=(0, 1), match='C'>
<re.Match object; span=(0, 1), match='A'>
<re.Match object; span=(0, 1), match='B'>
<re.Match object; span=(0, 1), match='C'>
<re.Match object; span=(1, 2), match='A'>
<re.Match object; span=(2, 3), match='B'>
<re.Match object; span=(3, 4), match='A'>

0       a
1
2
3     aba
4     aca
5
6    <NA>
7
8     dog
9     cat
dtype: string

In [86]:
ss = pd.Series(['0Aa', '1B', '2C', '3Aaba', '4Baca','5', np.nan, '7CABA', '8dog', '9cat'],dtype="string")
ss.str.replace('([ABC])([abc])',lambda x:x.group(0)+'='+x.group(1)+'+'+x.group(2))#[0:]+'*')

0      0Aa=A+a
1           1B
2           2C
3    3Aa=A+aba
4    4Ba=B+aca
5            5
6         <NA>
7        7CABA
8         8dog
9         9cat
dtype: string

In [107]:
s.str.replace??

Signature: s.str.replace(pat, repl, n=-1, case=None, flags=0, regex=True)
Docstring:
Replace occurrences of pattern/regex in the Series/Index with
some other string. Equivalent to :meth:`str.replace` or
:func:`re.sub`.

Parameters
----------
pat : str or compiled regex
    String can be a character sequence or regular expression.
repl : str or callable
    Replacement string or a callable. The callable is passed the regex
    match object and must return a replacement string to be used.
    See :func:`re.sub`.
n : int, default -1 (all)
    Number of replacements to make from start.
case : bool, default None
    Determines if replace is case sensitive:

    - If True, case sensitive (the default if `pat` is a string)
    - Set to False for case insensitive
    - Cannot be set if `pat` is a compiled regex.

flags : int, default 0 (no flags)
    Regex module flags, e.g. re.IGNORECASE. Cannot be set if `pat` is a compiled
    regex.
regex : bool, default True
    Determines if assumes the passed-in pattern is a regular expression:

    - If True, assumes the passed-in pattern is a regular expression.
    - If False, treats the pattern as a literal string
    - Cannot be set to False if `pat` is a compiled regex or `repl` is
      a callable.

    .. versionadded:: 0.23.0

Returns
-------
Series or Index of object
    A copy of the object with all matching occurrences of `pat` replaced by
    `repl`.

Raises
------
ValueError
    * if `regex` is False and `repl` is a callable or `pat` is a compiled
      regex
    * if `pat` is a compiled regex and `case` or `flags` is set

Notes
-----
When `pat` is a compiled regex, all flags should be included in the
compiled regex. Use of `case`, `flags`, or `regex=False` with a compiled
regex will raise an error.

Examples
--------
When `pat` is a string and `regex` is True (the default), the given `pat`
is compiled as a regex. When `repl` is a string, it replaces matching
regex patterns as with :meth:`re.sub`. NaN value(s) in the Series are
left as is:

>>> pd.Series(['foo', 'fuz', np.nan]).str.replace('f.', 'ba', regex=True)
0    bao
1    baz
2    NaN
dtype: object

When `pat` is a string and `regex` is False, every `pat` is replaced with
`repl` as with :meth:`str.replace`:

>>> pd.Series(['f.o', 'fuz', np.nan]).str.replace('f.', 'ba', regex=False)
0    bao
1    fuz
2    NaN
dtype: object

When `repl` is a callable, it is called on every `pat` using
:func:`re.sub`. The callable should expect one positional argument
(a regex object) and return a string.

To get the idea:

>>> pd.Series(['foo', 'fuz', np.nan]).str.replace('f', repr)
0    <_sre.SRE_Match object; span=(0, 1), match='f'>oo
1    <_sre.SRE_Match object; span=(0, 1), match='f'>uz
2                                                  NaN
dtype: object

Reverse every lowercase alphabetic word:

>>> repl = lambda m: m.group(0)[::-1]
>>> pd.Series(['foo 123', 'bar baz', np.nan]).str.replace(r'[a-z]+', repl)
0    oof 123
1    rab zab
2        NaN
dtype: object

Using regex groups (extract second group and swap case):

>>> pat = r"(?P<one>\w+) (?P<two>\w+) (?P<three>\w+)"
>>> repl = lambda m: m.group('two').swapcase()
>>> pd.Series(['One Two Three', 'Foo Bar Baz']).str.replace(pat, repl)
0    tWO
1    bAR
dtype: object

Using a compiled regex with flags

>>> import re
>>> regex_pat = re.compile(r'FUZ', flags=re.IGNORECASE)
>>> pd.Series(['foo', 'fuz', np.nan]).str.replace(regex_pat, 'bar')
0    foo
1    bar
2    NaN
dtype: object
Source:
    @copy(str_replace)
    @forbid_nonstring_types(["bytes"])
    def replace(self, pat, repl, n=-1, case=None, flags=0, regex=True):
        result = str_replace(
            self._parent, pat, repl, n=n, case=case, flags=flags, regex=regex
        )
        return self._wrap_result(result)
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\strings.py
Type:      method

In [105]:
re.sub??

Signature: re.sub(pattern, repl, string, count=0, flags=0)
Source:
def sub(pattern, repl, string, count=0, flags=0):
    """Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used."""
    return _compile(pattern, flags).sub(repl, string, count)
File:      c:\programdata\anaconda3\lib\re.py
Type:      function

#### 利用?P<....>表达式可以对子组命名调用

In [377]:
s.str.replace(r'(?P<one>[ABC])(?P<two>\w+)',lambda x:x.group('two')[1:]+'*')

0       A
1       B
2       C
3     ba*
4     ca*
5
6    <NA>
7     BA*
8     dog
9     cat
dtype: string

In [378]:
s.str.replace(r'(?P<one>[ABC])(?P<two>\w+)',lambda x:print(x)) # lambda 中的 x 表示前边的正则表达式匹配到的子串

<re.Match object; span=(0, 4), match='Aaba'>

<re.Match object; span=(0, 4), match='Baca'>

<re.Match object; span=(0, 4), match='CABA'>

0       A
1       B
2       C
3
4
5
6    <NA>
7
8     dog
9     cat
dtype: string

In [379]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5
6    <NA>
7    CABA
8     dog
9     cat
dtype: string

In [380]:
ss=s+'FF123'
ss

0       AFF123
1       BFF123
2       CFF123
3    AabaFF123
4    BacaFF123
5        FF123
6         <NA>
7    CABAFF123
8     dogFF123
9     catFF123
dtype: string

In [381]:
ss.str.replace(r'(?P<one>[ABC])(?P<two>\w+)',lambda x:print(x.group(0),x.group(1),x.group(2))) # lambda 中的 x 表示前边的正则表达式匹配到的子串

AFF123 A FF123

BFF123 B FF123

CFF123 C FF123

AabaFF123 A abaFF123

BacaFF123 B acaFF123

CABAFF123 C ABAFF123

0
1
2
3
4
5       FF123
6        <NA>
7
8    dogFF123
9    catFF123
dtype: string

### 3. 关于str.replace的注意事项
#### 首先，要明确str.replace和replace并不是一个东西：
#### str.replace针对的是object类型或string类型，默认是以正则表达式为操作，目前暂时不支持DataFrame上使用
#### replace针对的是任意类型的序列或数据框，如果要以正则表达式替换，需要设置regex=True，该方法通过字典可支持多列替换
#### 但现在由于string类型的初步引入，用法上出现了一些问题，这些issue有望在以后的版本中修复

#### （a）str.replace赋值参数不得为pd.NA
#### 这听上去非常不合理，例如对满足某些正则条件的字符串替换为缺失值，直接更改为缺失值在当下版本就会报错

In [164]:
#pd.Series(['A','B'],dtype='string').str.replace(r'[A]',pd.NA) #报错 TypeError: repl must be a string or callable
#pd.Series(['A','B'],dtype='O').str.replace(r'[A]',pd.NA) #报错 TypeError: repl must be a string or callable

#### 此时，可以先转为object类型再转换回来，曲线救国：

In [92]:
pd.Series(['A','B'],dtype='string').astype('O').replace(r'[A]',pd.NA,regex=True).astype('string')

0    <NA>
1       B
dtype: string

#### 至于为什么不用replace函数的regex替换（但string类型replace的非正则替换是可以的），原因在下面一条

#### （b）对于string类型Series，在使用replace函数时不能使用正则表达式替换
#### 该bug现在还未修复

In [93]:
pd.Series(['A','B'],dtype='string').replace(r'[A]','C',regex=True)
# dtype='string' 没有被替换

0    A
1    B
dtype: string

In [94]:
pd.Series(['A','B'],dtype='O').replace(r'[A]','C',regex=True)
# dtype='o' 时可以替换

0    C
1    B
dtype: object

In [95]:
pd.Series(['A','B'],dtype='str').replace(r'[A]','C',regex=True)
# dtype='str' 也可以被替换

0    C
1    B
dtype: object

In [104]:
# 对于 int 类型
pd.Series([1,2,3],dtype='int').replace(r'[1]','C',regex=True)
# 直接替换并不成功

0    1
1    2
2    3
dtype: int32

In [107]:
pd.Series([1,2,3],dtype='int').astype('str').replace(r'[1]','C',regex=True)
# 转为 str 后可以成功替换.

0    C
1    2
2    3
dtype: object

In [108]:
pd.Series([1,2,3],dtype='int').astype('O').replace(r'[1]','C',regex=True)
# 转为 object 后, 并未成功替换

0    1
1    2
2    3
dtype: int64

In [110]:
pd.Series([12,23,34],dtype='int').astype('str').replace(r'[1]','C',regex=True)
#

0    C2
1    23
2    34
dtype: object

In [111]:
pd.Series([12,23,34],dtype='int').astype('str').replace(r'1','C',regex=True)
#

0    C2
1    23
2    34
dtype: object

In [116]:
pd.Series([1213,23,34],dtype='int').astype('str').replace(r'1','9',regex=True).astype('int')
# 可以将某个数字替换为其他数字, 但需要用 astype 再转回数字.

0    9293
1      23
2      34
dtype: int32

#### （c）string类型序列如果存在缺失值，不能使用replace替换

In [385]:
pd.Series(['A',np.nan],dtype='string').replace('A','B') #报错--没有报错啊

0       B
1    <NA>
dtype: string

In [389]:
pd.Series(['A',np.nan],dtype='str').replace('A','B') # str 类型也没有报错
pd.Series(['A',np.nan],dtype='O').replace('A','B') # O 类型也没有报错

0      B
1    NaN
dtype: object

In [386]:
pd.Series(['A',np.nan],dtype='string').str.replace('A','B')

0       B
1    <NA>
dtype: string

#### 综上，概况的说，除非需要赋值元素为缺失值（转为object再转回来），否则请使用str.replace方法

## 四、子串匹配与提取

### 1. str.extract方法
从单元格里提取符合传入的正则表达式的子串, 也可以用来将一列扩张为多列.

#### （a）常见用法

In [390]:
display(pd.Series(['10-87', '10-88', '10-89'],dtype="string"))
pd.Series(['10-87', '10-88', '10-89'],dtype="string").str.extract(r'([\d]{2})-([\d]{2})')

0    10-87
1    10-88
2    10-89
dtype: string

    0   1
0  10  87
1  10  88
2  10  89

In [176]:
s.str.extract??

Signature: s.str.extract(pat, flags=0, expand=True)
Docstring:
Extract capture groups in the regex `pat` as columns in a DataFrame.

For each subject string in the Series, extract groups from the
first match of regular expression `pat`.

Parameters
----------
pat : str
    Regular expression pattern with capturing groups.
flags : int, default 0 (no flags)
    Flags from the ``re`` module, e.g. ``re.IGNORECASE``, that
    modify regular expression matching for things like case,
    spaces, etc. For more details, see :mod:`re`.
expand : bool, default True
    If True, return DataFrame with one column per capture group.
    If False, return a Series/Index if there is one capture group
    or DataFrame if there are multiple capture groups.

Returns
-------
DataFrame or Series or Index
    A DataFrame with one row for each subject string, and one
    column for each group. Any capture group names in regular
    expression pat will be used for column names; otherwise
    capture group numbers will be used. The dtype of each result
    column is always object, even when no match is found. If
    ``expand=False`` and pat has only one capture group, then
    return a Series (if subject is a Series) or Index (if subject
    is an Index).

See Also
--------
extractall : Returns all matches (not just the first match).

Examples
--------
A pattern with two groups will return a DataFrame with two columns.
Non-matches will be NaN.

>>> s = pd.Series(['a1', 'b2', 'c3'])
>>> s.str.extract(r'([ab])(\d)')
     0    1
0    a    1
1    b    2
2  NaN  NaN

A pattern may contain optional groups.

>>> s.str.extract(r'([ab])?(\d)')
     0  1
0    a  1
1    b  2
2  NaN  3

Named groups will become column names in the result.

>>> s.str.extract(r'(?P<letter>[ab])(?P<digit>\d)')
  letter digit
0      a     1
1      b     2
2    NaN   NaN

A pattern with one group will return a DataFrame with one column
if expand=True.

>>> s.str.extract(r'[ab](\d)', expand=True)
     0
0    1
1    2
2  NaN

A pattern with one group will return a Series if expand=False.

>>> s.str.extract(r'[ab](\d)', expand=False)
0      1
1      2
2    NaN
dtype: object
Source:
    @copy(str_extract)
    @forbid_nonstring_types(["bytes"])
    def extract(self, pat, flags=0, expand=True):
        return str_extract(self, pat, flags=flags, expand=expand)
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\strings.py
Type:      method

#### 通过在正则表达式中使用子组名来为拆分后的列增加列名

In [391]:
pd.Series(['10-87', '10-88', '-89'],dtype="string").str.extract(r'(?P<start>[\d]{2})-(?P<end>[\d]{2})')

  start   end
0    10    87
1    10    88
2  <NA>  <NA>

#### 利用?正则标记选择部分提取

In [392]:
pd.Series(['10-87', '10-88', '10-',  '-89'],dtype="string").str.extract(r'(?P<name_1>[\d]{2})?-(?P<name_2>[\d]{2})?')
# 第一组后的?表示该组是可能缺失的,第一组没匹配到的也能够正确提取第二组.
# 在第二组后加上?则第二组匹配不到的也会正确提取第一组.

  name_1 name_2
0     10     87
1     10     88
2     10   <NA>
3   <NA>     89

In [393]:
pd.Series(['10-87', '10-88', '10-'],dtype="string").str.extract(r'(?P<name_1>[\d]{2})-(?P<name_2>[\d]{2})?')

  name_1 name_2
0     10     87
1     10     88
2     10   <NA>

#### （b）expand参数（默认为True）

#### 对于一个子组的Series，如果expand设置为False，则返回Series，若大于一个子组，则expand参数无效，全部返回DataFrame
#### 对于一个子组的Index，如果expand设置为False，则返回提取后的Index，若大于一个子组且expand为False，报错

In [394]:
s = pd.Series(["a1", "b2", "c3"], ["A11", "B22", "C33"], dtype="string")
s#.index

A11    a1
B22    b2
C33    c3
dtype: string

In [395]:
s.str.extract(r'([\w])')

     0
A11  a
B22  b
C33  c

In [396]:
s.str.extract(r'([\w])',expand=False)

A11    a
B22    b
C33    c
dtype: string

In [397]:
s.str.extract(r'([\w])',expand=True)

     0
A11  a
B22  b
C33  c

In [398]:
('m'+s).str.extract(r'([\w])([\w])([\w])',expand=False) # 大于1个组, 因此 expand=False 参数就没法起作用了--这和split方法中需要先指定expand, n才能起作用是不一致的.

     0  1  2
A11  m  a  1
B22  m  b  2
C33  m  c  3

In [399]:
s.index.str.extract(r'([\w])')

   0
0  A
1  B
2  C

In [400]:
s.index.str.extract(r'([\w])',expand=False)

Index(['A', 'B', 'C'], dtype='object')

In [401]:
# 提取两个子组类型,都提取导了,因此自然会分成两列
s.index.str.extract(r'([\w])([\d])')

   0  1
0  A  1
1  B  2
2  C  3

In [409]:
# s.index.str.extract(r'([\w])([\d])([\w])') # 第三个子组会继续沿用第二个
# s.index.str.extract(r'([\w])([\d])([\d])') # 同上
s.index.str.extract(r'([\w])([\d])([\w])([\w])') #再增加一个就都变成 NaN 了

     0    1    2    3
0  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN

In [413]:
s.index.str.extract(r'([\w])([\d])([\d])')#([\d])') #三个没问题, 再增加一个就都变成 NaN 了

   0  1  2
0  A  1  1
1  B  2  2
2  C  3  3

In [415]:
# 索引也支持提取
#s.index.str.extract(r'([\w])([\d])',expand=False) #报错 ValueError: only one regex group is supported with Index
s.index.str.extract(r'([\w])([\d])',expand=True)

   0  1
0  A  1
1  B  2
2  C  3

In [416]:
# 对于索引, 也可以先使用 to_series 函数(注意s小写)转为Series再提取--这在从复合型单层索引构造层次索引时会用到.
s.index.to_series().str.extract(r'([\w])([\d])',expand=False)

     0  1
A11  A  1
B22  B  2
C33  C  3

### 2. str.extractall方法

#### 与extract只匹配第一个符合条件的表达式不同，extractall会找出所有符合条件的字符串，并建立多级索引（即使只找到一个）

In [282]:
s = pd.Series(["a1a2", "b1", "c1"], index=["A", "B", "C"],dtype="string")
display(s)
two_groups = '(?P<letter>[a-z])(?P<digit>[0-9])'
s.str.extract(two_groups, expand=True)

A    a1a2
B      b1
C      c1
dtype: string

  letter digit
A      a     1
B      b     1
C      c     1

In [283]:
s.str.extractall(two_groups)
# 将匹配到的多个符合条件的子串分为了多行 -- 这个处理方式非常好, 因为如果分为多列的话会导致大量的单元格是缺失值

        letter digit
  match
A 0          a     1
  1          a     2
B 0          b     1
C 0          c     1

In [284]:
s['A']='a1'
s.str.extractall(two_groups)

        letter digit
  match
A 0          a     1
B 0          b     1
C 0          c     1

In [285]:
s.str.extractall??

Signature: s.str.extractall(pat, flags=0)
Docstring:
For each subject string in the Series, extract groups from all
matches of regular expression pat. When each subject string in the
Series has exactly one match, extractall(pat).xs(0, level='match')
is the same as extract(pat).

Parameters
----------
pat : str
    Regular expression pattern with capturing groups.
flags : int, default 0 (no flags)
    A ``re`` module flag, for example ``re.IGNORECASE``. These allow
    to modify regular expression matching for things like case, spaces,
    etc. Multiple flags can be combined with the bitwise OR operator,
    for example ``re.IGNORECASE | re.MULTILINE``.

Returns
-------
DataFrame
    A ``DataFrame`` with one row for each match, and one column for each
    group. Its rows have a ``MultiIndex`` with first levels that come from
    the subject ``Series``. The last level is named 'match' and indexes the
    matches in each item of the ``Series``. Any capture group names in
    regular expression pat will be used for column names; otherwise capture
    group numbers will be used.

See Also
--------
extract : Returns first match only (not all matches).

Examples
--------
A pattern with one group will return a DataFrame with one column.
Indices with no matches will not appear in the result.

>>> s = pd.Series(["a1a2", "b1", "c1"], index=["A", "B", "C"])
>>> s.str.extractall(r"[ab](\d)")
         0
  match
A 0      1
  1      2
B 0      1

Capture group names are used for column names of the result.

>>> s.str.extractall(r"[ab](?P<digit>\d)")
        digit
  match
A 0         1
  1         2
B 0         1

A pattern with two groups will return a DataFrame with two columns.

>>> s.str.extractall(r"(?P<letter>[ab])(?P<digit>\d)")
        letter digit
  match
A 0          a     1
  1          a     2
B 0          b     1

Optional groups that do not match are NaN in the result.

>>> s.str.extractall(r"(?P<letter>[ab])?(?P<digit>\d)")
        letter digit
  match
A 0          a     1
  1          a     2
B 0          b     1
C 0        NaN     1
Source:
    @copy(str_extractall)
    @forbid_nonstring_types(["bytes"])
    def extractall(self, pat, flags=0):
        return str_extractall(self._orig, pat, flags=flags)
File:      d:\programdata\anaconda3\lib\site-packages\pandas\core\strings.py
Type:      method

#### 如果想查看第i层匹配，可使用xs方法

In [286]:
s = pd.Series(["a1a2", "b1b2", "c1c2"], index=["A", "B", "C"],dtype="string")
s.str.extractall(two_groups).xs(1,level='match')

  letter digit
A      a     2
B      b     2
C      c     2

### 3. str.contains和str.match
#### 前者的作用为检测是否包含某种正则模式

In [287]:
pd.Series(['1', None, '3a', '3b', '03c'], dtype="string").str.contains(r'[0-9][a-z]')

0    False
1     <NA>
2     True
3     True
4     True
dtype: boolean

In [291]:
pd.Series(['1', None, '3a3', '3b', '03c'], dtype="string").str.contains(r'^[0-9][a-z]$')

0    False
1     <NA>
2    False
3     True
4    False
dtype: boolean

#### 可选参数为na

In [292]:
pd.Series(['1', None, '3a', '3b', '03c'], dtype="string").str.contains('a', na=True)#False)
# na=False参数会把缺失值的返回值设置为False,反之则会设置为True -- 可以根据业务需求设置

0    False
1     True
2     True
3    False
4    False
dtype: boolean

#### str.match与其区别在于，match依赖于python的re.match，检测内容为是否从头开始包含该正则模式

In [293]:
pd.Series(['1', None, '3a_', '3b', '03c'], dtype="string").str.match(r'[0-9][a-z]',na=False)

0    False
1    False
2     True
3     True
4    False
dtype: boolean

In [294]:
pd.Series(['1', None, '_3a', '3b', '03c'], dtype="string").str.match(r'[0-9][a-z]',na=False)

0    False
1    False
2    False
3     True
4    False
dtype: boolean

In [298]:
astr="""begin--
1this is a string,
2with 2 lines,
3or 3, maybe.
"""
pd.Series([astr,'1'+astr, None, '3a_', '3b', '03c'], dtype="string").str.match(r'[0-9][a-z]',na=False)
pd.Series([astr,'1'+astr, None, '3a_', '3b', '03c'], dtype="string").str.match(r'[0-9][a-z]',na=False,flags=re.M)

0    False
1     True
2    False
3     True
4     True
5    False
dtype: boolean

In [303]:
# 补充说明: 字符串的 find 方法并不支持正则表达式
pd.Series(['1', None, '3a_', '3b', '03c'], dtype="string").str.find(r'[0-9][a-z]')

0      -1
1    <NA>
2      -1
3       0
4      -1
dtype: Int64

In [307]:
pd.Series(['1', None, '3a_', '3b', '03c'], dtype="string").str.find('3a')

0      -1
1    <NA>
2       0
3      -1
4      -1
dtype: Int64

## 五、常用字符串方法

### 1. 过滤型方法
#### （a）str.strip
#### 常用于过滤空格

In [308]:
pd.Series(list('abc'),index=[' space1  ','space2  ','  space3'],dtype="string").index.str.strip()

Index(['space1', 'space2', 'space3'], dtype='object')

#### （b）str.lower和str.upper

In [309]:
pd.Series('A',dtype="string").str.lower()

0    a
dtype: string

In [310]:
pd.Series('a',dtype="string").str.upper()

0    A
dtype: string

In [318]:
print(dir(pd.Series('hey joy, How\'re you doing?',dtype="string").str))

['__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__frozen', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_doc_args', '_freeze', '_get_series_list', '_inferred_dtype', '_is_categorical', '_is_string', '_make_accessor', '_orig', '_parent', '_validate', '_wrap_result', 'capitalize', 'casefold', 'cat', 'center', 'contains', 'count', 'decode', 'encode', 'endswith', 'extract', 'extractall', 'find', 'findall', 'get', 'get_dummies', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'islower', 'isnumeric', 'isspace', 'istitle', 'isupper', 'join', 'len', 'ljust', 'lower', 'lstrip', 'match', 'normalize', 'pad', 'partition', 'repeat', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'slice', 'slice_replace', 'split', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'wrap', 'zfill']

In [333]:
pd.Series('hey joy, How\'re you doing?',dtype="string").str.zfill??

Signature: str.zfill(self, width, /)
Docstring:
Pad a numeric string with zeros on the left, to fill a field of the given width.

The string is never truncated.
Type:      method_descriptor

#### （c）str.swapcase, str.title和str.capitalize
#### 分别表示交换字母大小写,每个单词首字母大写和整个字符串的首字母大写

In [334]:
pd.Series('abCD',dtype="string").str.swapcase()

0    ABcd
dtype: string

In [335]:
pd.Series('abCD',dtype="string").str.capitalize()

0    Abcd
dtype: string

In [336]:
# 将每个单词的首字母大写,其他字母小写
pd.Series('hey joy, How are you doing?',dtype="string").str.title()

0    Hey Joy, How Are You Doing?
dtype: string

In [337]:
# 只将第一个单词的首字母大写,其他的字母小写
pd.Series('hey joy, How\'re you doing?',dtype="string").str.capitalize()

0    Hey joy, how're you doing?
dtype: string

### 2. isnumeric方法
#### 检查每一位是否都是数字，请问如何判断是否是数值？（问题二）

In [338]:
pd.Series(['1.2','1','-0.3','a',np.nan],dtype="string").str.isnumeric()
# 对于负数和浮点数给出了错误的答案

0    False
1     True
2    False
3    False
4     <NA>
dtype: boolean

In [340]:
pd.Series(['1.2','1','-0.3','a',np.nan],dtype="string").str.isdecimal()
# 同样错误

0    False
1     True
2    False
3    False
4     <NA>
dtype: boolean

In [341]:
pd.Series(['1.2','1','-0.3','a',np.nan],dtype="string").str.isdigit()
# 错误

0    False
1     True
2    False
3    False
4     <NA>
dtype: boolean

In [343]:
pd.Series(['1.2','1','-0.3','a',np.nan],dtype="string").str.isalnum??

Signature: str.isalnum(self, /)
Docstring:
Return True if the string is an alpha-numeric string, False otherwise.

A string is alpha-numeric if all characters in the string are alpha-numeric and
there is at least one character in the string.
Type:      method_descriptor

In [364]:
# 先判断是否是缺失值, 如果不是, 再使用正则表达式匹配浮点数模式: 以零或一个负号(-)开头,接下来至少包含一个数字,最后以零或一个"小数点加零或多个数字"结尾
pd.Series(['42','1.223','1.','-0.3456','a1','1a',np.nan,None,pd.NA],dtype="string").apply(lambda x:True if x is not pd.NA and re.match('^-?\d+(\.\d*)?$',x) else False)

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool

## 六、问题与练习
### 1. 问题

#### 【问题一】 str对象方法和df/Series对象方法有什么区别？

针对的对象不同. 
* str 对象方法是将单元格内的内容当作字符串,来执行针对字符串的各种操作.  
* 而 pandas 对象 DataFrame 和 Series 的对象方法,操作的多是 DF 的列的所有元素(如 sum, min 等聚合函数),或者是单元格, 并且是对单元格内的内容整体进行操作.
    * 例如, str.replace可以把单元格内的字符串的一部分替换掉,但是df.replace是把整个单元格内的内容替换掉(并且要数据类型一致)

In [370]:
who

astr	 col	 d_	 day2c	 df	 df1	 df2	 dfs	 l1
month2c	 np	 num2c	 num_to_c	 num_to_c1	 num_to_char	 pd	 re	 s
s1	 s2	 s_	 s_string	 ss	 two_groups

In [371]:
df

  C_1 C_2 C_3 C_4 C_5 C_6 C_7
a   5   2  18  10   2  14   2
b  15  17   6  12   2   4  10
c   1  18  12  17   8   8   9

In [374]:
# 上述df中的单元格内的对象是str类型.
df.applymap(lambda x: x+f'的平方是{int(x)**2}')

         C_1        C_2        C_3        C_4      C_5        C_6        C_7
a    5的平方是25     2的平方是4  18的平方是324  10的平方是100   2的平方是4  14的平方是196     2的平方是4
b  15的平方是225  17的平方是289    6的平方是36  12的平方是144   2的平方是4    4的平方是16  10的平方是100
c     1的平方是1  18的平方是324  12的平方是144  17的平方是289  8的平方是64    8的平方是64    9的平方是81

In [395]:
#　再举一个例子
from datetime import datetime
st=pd.Series([datetime.now()]) # datetime类型
st.values[0]
sts = pd.concat([st,st.astype('str'),st.astype('string')])
display(sts) # 字面上看来, 三个元素完全一致,但实际上三个元素的数据类型不同

0    2020-06-26 19:09:09.338082
0    2020-06-26 19:09:09.338082
0    2020-06-26 19:09:09.338082
dtype: object

In [396]:
sts.replace('2020-06-26 19:09:09.338082','--') # 于是使用Series的replace,就会只替换字符串,而略过时间类型的第一个元素

0    2020-06-26 19:09:09.338082
0                            --
0                            --
dtype: object

In [418]:
# 但是如果是用时间去替换..
from dateutil.parser import parse
sts.replace(parse('2020-06-26 19:09:09.338082'),'--') 
# 就只会替换第一个

0                            --
0    2020-06-26 19:09:09.338082
0    2020-06-26 19:09:09.338082
dtype: object

In [419]:
sts.str.replace('2020-06-26 19:09:09.338082','--') # 但是使用 str.replace, 奇怪的事情发生了.... 第一个元素被替换为了空

0    NaN
0     --
0     --
dtype: object

In [421]:
sts.str.replace('--','--')
# 是因为str方法的原因--这算是个bug吗?

0                           NaN
0    2020-06-26 19:09:09.338082
0    2020-06-26 19:09:09.338082
dtype: object

In [422]:
sts.astype('str').str.replace('--','--')

0    2020-06-26 19:09:09.338082
0    2020-06-26 19:09:09.338082
0    2020-06-26 19:09:09.338082
dtype: object

In [398]:
# 这种情况下, 先转一下数据类型, 再操作就能得到期望的结果了.
sts.astype('str').str.replace('2020-06-26 19:09:09.338082','--') # 但是使用 str.replace, 奇怪的事情发生了....

0    --
0    --
0    --
dtype: object

#### 【问题二】 给出一列string类型，如何判断单元格是否是数值型数据？

In [427]:
s_string = pd.Series(['1','0','-2.123','0.2','-0.3','1a','a1','a',np.nan],dtype="string")
display(s_string)# .str.extract(r'\d')  #ValueError: pattern contains no capture groups

0         1
1         0
2    -2.123
3       0.2
4      -0.3
5        1a
6        a1
7         a
8      <NA>
dtype: string

In [428]:
s_string.str.isdecimal()

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8     <NA>
dtype: boolean

In [432]:
# 用正则表达式匹配
s_string.str.contains(r'^-?(\d+)(\.\d+)?$')

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7    False
8     <NA>
dtype: boolean

#### 【问题三】 rsplit方法的作用是什么？它在什么场合下适用？

In [443]:
s.str.rsplit??

Signature: s.str.rsplit(pat=None, n=-1, expand=False)
Docstring:
Split strings around given separator/delimiter.

Splits the string in the Series/Index from the end,
at the specified delimiter string. Equivalent to :meth:`str.rsplit`.

Parameters
----------
pat : str, optional
    String or regular expression to split on.
    If not specified, split on whitespace.
n : int, default -1 (all)
    Limit number of splits in output.
    ``None``, 0 and -1 will be interpreted as return all splits.
expand : bool, default False
    Expand the splitted strings into separate columns.

    * If ``True``, return DataFrame/MultiIndex expanding dimensionality.
    * If ``False``, return Series/Index, containing lists of strings.

Returns
-------
Series, Index, DataFrame or MultiIndex
    Type matches caller unless ``expand=True`` (see Notes).

See Also
--------
Series.str.split : Split strings around given separator/delimiter.
Series.str.rsplit : Splits string around given separator/delimiter,
    starting from the right.
Series.str.join : Join lists contained as elements in the Series/Index
    with passed delimiter.
str.split : Standard library version for split.
str.rsplit : Standard library version for rsplit.

Notes
-----
The handling of the `n` keyword depends on the number of found splits:

- If found splits > `n`,  make first `n` splits only
- If found splits <= `n`, make all splits
- If for a certain row the number of found splits < `n`,
  append `None` for padding up to `n` if ``expand=True``

If using ``expand=True``, Series and Index callers return DataFrame and
MultiIndex objects, respectively.

Examples
--------
>>> s = pd.Series(["this is a regular sentence",
...                "https://docs.python.org/3/tutorial/index.html",
...                np.nan])
0                       this is a regular sentence
1    https://docs.python.org/3/tutorial/index.html
2                                              NaN
dtype: object

In the default setting, the string is split by whitespace.

>>> s.str.split()
0                   [this, is, a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

Without the `n` parameter, the outputs of `rsplit` and `split`
are identical.

>>> s.str.rsplit()
0                   [this, is, a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

The `n` parameter can be used to limit the number of splits on the
delimiter. The outputs of `split` and `rsplit` are different.

>>> s.str.split(n=2)
0                     [this, is, a regular sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

>>> s.str.rsplit(n=2)
0                     [this is a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

The `pat` parameter can be used to split by other characters.

>>> s.str.split(pat = "/")
0                         [this is a regular sentence]
1    [https:, , docs.python.org, 3, tutorial, index...
2                                                  NaN
dtype: object

When using ``expand=True``, the split elements will expand out into
separate columns. If NaN is present, it is propagated throughout
the columns during the split.

>>> s.str.split(expand=True)
                                               0     1     2        3
0                                           this    is     a  regular
1  https://docs.python.org/3/tutorial/index.html  None  None     None
2                                            NaN   NaN   NaN      NaN \
             4
0     sentence
1         None
2          NaN

For slightly more complex use cases like splitting the html document name
from a url, a combination of parameter settings can be used.

>>> s.str.rsplit("/", n=1, expand=True)
                                    0           1
0          this is a regular sentence        None
1  https://docs.python.org/3/tutorial  index.html
2                                 NaN         NaN

Remember to escape special characters when explicitly using regular
expressions.

>>> s = pd.Series(["1+1=2"])

>>> s.str.split(r"\+|=", expand=True)
     0    1    2
0    1    1    2
Source:
    @Appender(_shared_docs["str_split"] % {"side": "end", "method": "rsplit"})
    @forbid_nonstring_types(["bytes"])
    def rsplit(self, pat=None, n=-1, expand=False):
        result = str_rsplit(self._parent, pat, n=n)
        return self._wrap_result(result, expand=expand, returns_string=expand)
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\strings.py
Type:      method

#### 【问题四】 在本章的第二到第四节分别介绍了字符串类型的5类操作，请思考它们各自应用于什么场景？

* 拆分与拼接
    * str.split--拆分
    * str.cat--拼接
* 替换
* 子串匹配与提取
    * extract--从pandas对象的一列中提取信息成为新的列,例如将手机号码,邮件从文本中提取出来.
    * exractall--提取所有能够匹配到的子串,并建立多级索引
    * contain--判断包含某个特定格式的子串
    * match--字符串以某个特定子串开头
* 过滤与判断

In [450]:
# 将文末参考文献按字段整理成表格形式
#　国标引文.txt 文件来自cnki的导出题录, 导出为国标GB/T 7714-2015 参考文献格式.
!type data\国标引文.txt
# 中文字符, 需要指定encoding

[1]姊佸啗.鍩轰簬鏁板瓧浜烘枃鐨勬櫤鎱у浘涔﹂�嗗缓璁捐矾寰勬帰绱�[J].鎵嶆櫤,2020(18):241.

[2]寮犲┓.鍙版咕鍦板尯鏁板瓧浜烘枃鐮旂┒鐗硅壊涓庡疄璺靛惎绀篬J].楂樻牎鍥句功棣嗗伐浣�,2020,40(04):41-45.

[3]鏉ㄤ匠棰�,閭撶拹鑺�,璁搁懌.瑙呮睙鍗椾匠棣旓細澶氭簮鍙や粖鏂囨湰鏁版嵁铻嶅悎鐨勬勃涓婇ギ椋熷浘璋辨瀯寤篬J/OL].鍥句功棣嗚�哄潧:1-9[2020-06-26].http://kns.cnki.net/kcms/detail/44.1306.G2.20200616.1533.002.html.

[4]濮氬暩鍗�,璐烘櫒鑺�,寰愬瓭濞�,鍏ㄧ煶宄�.闈㈠悜鏁板瓧浜烘枃鐨勫浘涔﹂�嗕紬鍖呭钩鍙版瀯寤虹爺绌垛�斺�斾互涓婃捣鍥句功棣嗗巻鍙叉枃鐚�浼楀寘骞冲彴涓轰緥[J].鍥句功棣嗘潅蹇�,2020,39(06):105-112.

[5]鑼冩�傜孩,璧电函娲�.鍩轰簬鐭ヨ瘑鍥捐氨鐨勫彜绫嶆暟瀛楀寲鐮旂┒鍓嶆部鐑�鐐瑰強婕斿寲瓒嬪娍鍒嗘瀽[J].鍑虹増骞胯��,2020(11):85-87.

[6]寰愭櫒椋�,鍙舵捣褰�,鍖呭钩.鍩轰簬娣卞害瀛︿範鐨勬柟蹇楃墿浜ц祫鏂欏疄浣撹嚜鍔ㄨ瘑鍒�妯″瀷鏋勫缓鐮旂┒[J/OL].鏁版嵁鍒嗘瀽涓庣煡璇嗗彂鐜�:1-17[2020-06-26].http://kns.cnki.net/kcms/detail/10.1478.G2.20200609.1040.006.html.

[7]鍒樻槺褰�,鍚存枌,鐧藉┓.鍙よ瘲璇嶅浘璋辩殑鏋勫缓鍙婂垎鏋愮爺绌禰J].璁＄畻鏈虹爺绌朵笌鍙戝睍,2020,57(06):1252-1268.

[8]宸寸壒,閭撳悰.鏁板瓧浜烘枃瑙嗗煙涓嬫垜鍥介珮鏍″彛杩版牎鍙叉。妗堝缓璁捐矾寰勬�濊�僛J].鍏板彴涓栫晫,2020(06):31-34.

[9]鏉庢澗娑�,寮犲崼涓�,宸﹀��.鏁板瓧浜烘枃瑙嗚�掍笅浜烘枃鐮旂┒鑰呭埄鐢ㄦ。妗堥�嗚棌鐨勮�屼负涓庢縺鍔辩爺绌禰J].灞辫タ妗ｆ��,2020(03):77-97.

[10]濮滆偛褰�,鏉庨泤鑼�.鍩轰簬鏁板瓧浜烘枃瑙嗚�掔殑鈥滄儏鎰熲�斺�旀椂绌衡�濇ā鍨嬫帰鏋怺J].鍐滀笟鍥句功鎯呮姤瀛︽姤,2020,32(06):23-33.

[11]姊佺户鏂�,姹熷窛,鐜嬩笢娉�.鍩轰簬澶氱壒寰佽瀺鍚堢殑鍏堢Е鍏哥睄姹夎嫳鍙ュ瓙瀵归綈鐮旂┒[J/OL].鏁版嵁鍒嗘瀽涓庣煡璇嗗彂鐜�:1-13[2020-06-26].http://kns.cnki.net/kcms/detail/10.1478.G2.20200603.0948.002.html.

[12]鍗�涓逛腹,鑱備簯闇�.鏁板瓧浜烘枃瑙嗚�掍笅鍦版柟鐗硅壊妗ｆ�堣祫婧愬紑鍙戣矾寰刐J/OL].灞辫タ妗ｆ��:1-6[2020-06-26].http://kns.cnki.net/kcms/detail/14.1162.G2.20200603.1018.007.html.

[13]Tanja Wissik,Jennifer Edmond,Frank Fischer,Franciska de Jong,Stefania Scagliola,Andrea Scharnhorst,Hendrik Schmeer,Walter Scholger,Leon Wessels,閮戠倻妤�,鑲栭箯.鍥介檯瑙嗛噹涓嬬殑鏁板瓧浜烘枃鏁欒偛鈥斺�斿熀纭�璁炬柦瑙嗚�掔殑绀惧尯椹卞姩鍨嬫暟瀛椾汉鏂囪�剧▼鐧昏�颁腑蹇僛J].鍥句功棣嗚�哄潧,2020,40(06):1-27.

[14]Marco Fiorucci,Marina Khoroshiltseva,Massimiliano Pontil,Arianna Traviglia,Alessio Del Bue,Stuart James. Machine Learning for Cultural Heritage: A Survey[J]. Elsevier B.V.,2020,133.

[15]鍞愮嚂,鍒樺皬姒�,鏉庡仴.鏅烘収鍥句功棣嗙┖闂村啀閫犱笌鏁板瓧浜烘枃鏈嶅姟鍒涙柊鐮旂┒[J].鍥句功棣�,2020(05):74-80.

[16]. Information Technology - Information Sciences; Recent Findings from Zhengzhou University Has Provided New Information about Information Sciences (Cross-national digital humanities research collaborations: structure, patterns and themes)[J]. Computer Technology Journal,2020.

[17]鏈辨�濊嫅,鍗㈢珷骞�.缇庡浗楂樻牎鍥句功棣嗘暟瀛椾汉鏂囦腑蹇冪綉绔欏缓璁惧�规垜鍥界殑鍚�绀篬J].鍥句功鎯呮姤鐮旂┒,2020,13(02):47-54.

[18]. Information Technology - Data Systems; Findings from National Autonomous University of Mexico (UNAM) Yields New Data on Data Systems (Practical Non-monotonic Knowledge-base System for Un-regimented Domains: a Case-study In Digital Humanities)[J]. Information Technology Newsweekly,2020.

[19]鐜嬪埄鍚�.婢冲ぇ鍒╀簹楂樻牎鏁板瓧浜烘枃鏁欒偛鐮旂┒[J].鍥句功棣嗗�︾爺绌�,2020(10):11-18.

[20]閭撳悰,瀛欑粛涓�,鐜嬮槷,瀹嬪厛鏅�.缇庡浗29鎵�楂樻牎鏁板瓧浜烘枃椤圭洰鐮旂┒鍐呭�硅В鏋怺J].鎯呮姤璧勬枡宸ヤ綔,2020,41(03):31-40.

[21]椹�鏄�浠�,浣曟嵎,鍒樺竻甯�.涓�鍥藉彜鍏稿彊浜嬫枃瀛︾殑鏃剁┖鍙欎簨鏁板瓧妯″瀷鐮旂┒鈥斺�斾互銆婃潕濞冧紶銆嬩负渚媅J].鍦扮悆淇℃伅绉戝�﹀�︽姤,2020,22(05):967-977.

[22]璁稿垰,绉︽槅.鈥滅┖闂寸患鍚堜汉鏂囧�︿笌绀句細绉戝�︾殑鏄ㄥぉ銆佷粖澶╁拰鏄庡ぉ鈥濇矙榫欑邯瑕乕J].鍦扮悆淇℃伅绉戝�﹀�︽姤,2020,22(05):1176-1177.

[23]鏉ㄥ啝鐏�,鍗㈠皬瀹�.闈㈠悜鏁板瓧浜烘枃鐨勪含鍓ц劯璋卞浘鍍忔暟瀛楄祫婧愭瀯寤篬J].妗ｆ�堝�﹂�氳��,2020(03):38-44.

[24]鑱備簯闇�,鑲栧潳.鏁板瓧浜烘枃瑙嗗煙涓嬫。妗堝�︿笓涓氬�︾敓鏁版嵁绱犲吇鍩硅偛鎺㈡瀽[J].妗ｆ�堝�﹂�氳��,2020(03):95-103.

[25]宸﹀��,寮犲崼涓�.闈㈠悜鏁板瓧浜烘枃鐨勬。妗堣祫婧愭暣鍚堟ā寮忔瀯鎯�:瑙ｆ瀯涓庨噸缁刐J].妗ｆ�堝�﹂�氳��,2020(03):29-37.

[26]鍒樿姰,璋�蹇呭媷.绔嬭冻鏈�鍦熶笌璺ㄧ晫铻嶅悎:娆х編鏁板瓧浜烘枃鏁欒偛鍙戝睍鐜扮姸鍙婂惎绀篬J].妗ｆ�堝�﹂�氳��,2020(03):104-112.

[27]璧佃枃.鏁板瓧鏃朵唬鐨勨�滀笘鐣屾枃瀛︹�濈爺绌讹細浠庢�傚康妯″瀷鍒拌�＄畻鎵硅瘎[J].澶栧浗鏂囧�﹀姩鎬佺爺绌�,2020(03):35-48.

[28]Benito-Santos Alejandro,Sanchez Roberto Theron. A Data-Driven Introduction to Authors, Readings, and Techniques in Visualization for the Digital Humanities.[J]. Pubmed,2020,40(3).

[29]Michael L. Black. Usable and Useful: On the Origins of Transparent Design in Personal Computing[J]. SAGE Publications,2020,45(3).

[30]鐜嬩附鍗�,鍒樼倻,鍒樺湥濠�.鏁板瓧浜烘枃鐨勭悊璁哄寲瓒嬪娍鍓嶇灮[J].涓�鍥藉浘涔﹂�嗗�︽姤,2020,46(03):17-23.

[31]澶忕繝濞�.闈㈠悜浜烘枃鐮旂┒鐨勨�滄暟鎹�鍩虹��璁炬柦鈥濆缓璁锯�斺�旇瘯璁哄浘涔﹂�嗗�﹀�规暟瀛椾汉鏂囩殑鏂规硶璁鸿础鐚甗J].涓�鍥藉浘涔﹂�嗗�︽姤,2020,46(03):24-37.

[32]鏉庢儬,渚�鍚涙槑,闄堟稕,鏈卞簡鍗�,鍒樼倻.鏄熸眽绐堟负鈥斺�斾功淇＄綉缁滀腑钑磋棌鐨勪汉闄呭叧绯绘寲鎺榌J].鍥句功棣嗘潅蹇�,2020,39(05):86-92+80.

[33]鏂芥檽鍗�,鐜嬫槙.鏁板瓧浜烘枃绀句細缃戠粶鍒嗘瀽鏂规硶搴旂敤涓庣爺绌禰J].鍥句功棣嗘潅蹇�,2020,39(05):93-99.

[34]鏉ㄥ弸娓�,鐜嬪埄鍚�,鐜嬩笢浜�.鍔犳嬁澶ч珮鏍℃暟瀛楀�︽湳涓�蹇冭皟鏌ュ垎鏋愪笌鍚�绀篬J].鍥句功棣嗗�︾爺绌�,2020(09):52-59.

[35]鍚曡悓钀�.鏁板瓧浜烘枃鑳屾櫙涓嬬殑妗ｆ�堝睍瑙堝彂灞曠瓥鐣ョ爺绌禰J].鍏板彴鍐呭��,2020(14):4-6.

[36]Kushwanth Koya,Gobinda Chowdhury. Cultural Heritage Information Practices and iSchools Education for Achieving Sustainable Development[J]. John Wiley & Sons, Inc.,2020,71(6).

[37]姊佸皯鍗�,鍚翠腹.鏁板瓧鍥句功棣嗕俊鎭�鏈嶅姟鐨勮瀺鍚堜笌鍒涙柊鈥斺�斿熀浜�2019骞碕CDL骞翠細璁烘枃鐨勭患杩癧J].鍥句功鎯呮姤鐭ヨ瘑,2020(03):97-108.

[38]闊╃憺楣�.鏁板瓧浜烘枃瑙嗚�掍笅鑸嗗浘妗ｆ�堝紑鍙戝眰娆℃瀯寤篬J].妗ｆ�堢�＄悊,2020(03):46-48.

[39]寮犲崼涓�.鍙嬭█鍦ㄥ厛[J].鍏板彴涓栫晫,2020(05):21.

[40]寮犲崼涓�,璧电儴姗�.鏁板瓧浜烘枃鍦ㄦ。妗堝�︾�戝簲鐢ㄧ殑鍙嶆�濅笌鍓嶆櫙[J].鍏板彴涓栫晫,2020(05):22-26+39.

[41]寮犲崼涓�,浜庢箾.闈㈠悜鏁板瓧浜烘枃鐨勬。妗堣祫婧愬紑鍙戞柟寮忎笌鍒╃敤璺�寰勬帰绌禰J].鍏板彴涓栫晫,2020(05):27-32.

[42]寮犳枌,鏉ㄦ枃.涓�鍥芥。妗堝�︾爺绌剁儹鐐逛笌鍓嶆部闂�棰樻帰璁╗J].鍥句功鎯呮姤鐭ヨ瘑,2020(03):28-40+62.

[43]楂樻ⅵ鏉�.鎴戝浗妗ｆ�堥�嗘暟瀛椾汉鏂囨湇鍔＄殑鐜扮姸銆侀殰纰嶅強绛栫暐鐮旂┒[J].鍏板彴鍐呭��,2020(13):11-12.

[44]鍚曠拹鎴�,闊╂稕.AI鍦ㄥ浘鎯咃細浜哄伐鏅鸿兘璧嬭兘鍥炬儏鏈嶅姟鈥斺��2019骞村浘涔﹂�嗗墠娌挎妧鏈�璁哄潧(IT4L)浼氳��缁艰堪[J].鍐滀笟鍥句功鎯呮姤瀛︽姤,2020,32(05):13-18.

[45]Robert Z. Selden,John E. Dockall,Morgane Dubied. A quantitative assessment of intraspecific morphological variation in Gahagan bifaces from the southern Caddo area and central Texas[J]. Routledge,2020,39(2).

[46]. Social Sciences; Ain't No Way Around It: Why We Need to Be Clear About What We Mean by 鈥淒igital Humanities鈥� (Updated April 15, 2020)[J]. Science Letter,2020.

[47]褰�鏂囪檸.鏁板瓧浜烘枃鐜�澧冧笅楂樻牎鍥句功棣嗛槄璇绘帹骞垮垱鏂扮爺绌禰J].鍥句功棣嗗�﹀垔,2020,42(04):45-49.

[48]鏉庡瓙鏋�,榫欏�跺簡,鐜嬬帀鐝�.浜ゆ祦涓庡悎浣�:缇庡浗鏁板瓧浜烘枃涓庢。妗堥�嗗煙鐨勪簰鍔ㄥ強鍚�绀篬J].妗ｆ�堝�︾爺绌�,2020(02):130-137.

[49]閮戞案.鏁板瓧浜烘枃鏃朵唬鍏�鍏卞浘涔﹂�嗗叕鍏辨暟瀛楁湇鍔′綋绯诲缓璁剧爺绌禰J].姹熻嫃绉戞妧淇℃伅,2020,37(11):15-17+24.

[50]寮犱箰鑾�,寮犲崼涓�,璧电儴姗�.鏁板瓧浜烘枃浜у搧寮�鍙戣繃绋嬩腑妗ｆ�堥�嗙殑瑙掕壊瀹氫綅鐮旂┒[J/OL].灞辫タ妗ｆ��:1-11[2020-06-26].http://kns.cnki.net/kcms/detail/14.1162.G2.20200417.1446.002.html.

[51]楂樺缓杈�.鏁板瓧浜烘枃瑙嗗煙涓嬪皯鏁版皯鏃忓彛杩板巻鍙茶祫鏂欐姠鏁戞�ч噰闆嗘柟娉曠爺绌禰J].鍥句功棣�,2020(03):55-60.

[52]灏圭泭姘�.缇庡浗鏅�鏋楁柉椤垮ぇ瀛﹀浘涔﹂�嗘暟瀛椾汉鏂囧缓璁剧幇鐘跺強鍚�绀篬J].鍥句功棣�,2020(03):61-66+80.

[53]寮犱紵,鍗庢灄.浜戝崡灏戞暟姘戞棌涔¤�勬皯绾︽。妗堣祫婧愬缓璁剧爺绌禰J/OL].灞辫タ妗ｆ��:1-8[2020-06-26].http://kns.cnki.net/kcms/detail/14.1162.G2.20200410.1118.004.html.

[54]Luis A. Pineda,No茅 Hern谩ndez,Iv谩n Torres,Gibr谩n Fuentes,Nydia Pineda De Avila. Practical non-monotonic knowledge-base system for un-regimented domains: A Case-study in digital humanities[J]. Elsevier Ltd,2020,57(3).

[55]Penesta Dika. Review of Oliver Grau, Janina Hoth, & Eveline Wandl-Vogt (Eds.) (2019). Digital Art through the Looking Glass: New strategies for archiving, collecting and preserving in digital humanities Hamburg/Krems/Vienna: Edition Donau-Universit盲t Krems and Austrian Academy of Sciences. 312 pp. ISBN 9783903150515 (E-Book)[J]. Springer International Publishing,2020,2(1).

[56]璧佃枃. 璁＄畻鍒涢�犲姏涓庤�＄畻鎵硅瘎[N]. 涓�鍥界ぞ浼氱�戝�︽姤,2020-04-03(004).

[57]Hannah J. Dean,Ryan L. Boyd. Deep into that darkness peering: A computational analysis of the role of depression in Edgar Allan Poe's life and death[J]. Elsevier B.V.,2020,266.

[58]Radu Suciu. Viral Networks: Connecting Digital Humanities and Medical History ed. by E. Thomas Ewing and Katherine Randall (review)[J]. Bulletin of the History of Medicine,2020,94(1).

[59]Dean Hannah J,Boyd Ryan L. Deep into that darkness peering: A computational analysis of the role of depression in Edgar Allan Poe's life and death.[J]. Pubmed,2020,266.

[60]閮戞案鏅�,娈垫捣钃�.鍙ょ睄鏁板瓧鍖栥�佹暟瀛椾汉鏂囦笌鍙や唬鏂囧�︾爺绌垛�斺�旇�夸腑鍥界ぞ浼氱�戝�﹂櫌閮戞案鏅撴暀鎺圼J].鍚夐�栧ぇ瀛﹀�︽姤(绀句細绉戝�︾増),2020,41(02):144-151.

[61]鐜嬬帀鐝�.瀛︾�戣瀺鍚堜笌杈圭晫鎺㈢储锛氶潰鍚戞暟瀛椾汉鏂囩殑妗ｆ�堢爺绌禰J].灞辫タ妗ｆ��,2020(02):1.

[62]瀛欒緣.璁ょ煡绉戝�﹁�嗚�掍笅瀵规暟瀛楀彶瀛︾殑閫忚�哰J].鏂囩尞涓庢暟鎹�瀛︽姤,2020,2(01):57-67.

[63]. Information Technology - Information Management; Researchers from Faculty of Business and Economics Report on Findings in Information Management (Crowdfunding In Digital Humanities: Some Evidence From Indonesian Social Enterprises)[J]. Computers, Networks & Communications,2020.

[64]Cornia Marcella,Stefanini Matteo,Baraldi Lorenzo,Corsini Massimiliano,Cucchiara Rita. Explaining digital humanities by aligning images and textual descriptions[J]. North-Holland,2020,129(C).

[65]榄忔竻鍗�,鍒樺嫄.闈炵墿璐ㄦ枃鍖栭仐浜х煡璇嗗簱鏋勫缓鈥斺�斾互鐢樿們鐪佸浗瀹剁骇闈為仐涓轰緥[J].鍥句功棣嗗�︾爺绌�,2020(06):33-38.

[66]鍛ㄦ枃鏉�.鍥炬儏妗ｅ�︾�戝彂灞曠殑鏁版嵁鍖栬秼鍚戣В鏋愨�斺�斿熀浜�2019骞村害瀛︽湳鐑�鐐圭殑绯荤粺鎬ф枃鐚�璋冩煡[J].鎯呮姤璧勬枡宸ヤ綔,2020,41(02):20-30.

[67]闂�鎱�.2019骞翠腑鍥藉浘涔︽儏鎶ヤ笌妗ｆ�堢�＄悊棰嗗煙鐮旂┒鐑�鐐瑰洖椤綶J].鎯呮姤璧勬枡宸ヤ綔,2020,41(02):5-19.

[68]璧佃枃.缃戠粶鍒嗘瀽涓庝汉鐗╃悊璁篬J].鏂囪壓鐞嗚�轰笌鎵硅瘎,2020(02):38-46.

[69]鐜嬪啗.浠庝汉鏂囪�＄畻鍒板彲瑙嗗寲鈥斺�旀暟瀛椾汉鏂囩殑鍙戝睍鑴夌粶姊崇悊[J].鏂囪壓鐞嗚�轰笌鎵硅瘎,2020(02):18-23.

[70]閭变紵浜�.璁烘暟瀛椾汉鏂囩爺绌朵腑鍙�瑙嗗寲鏁版嵁鐨勬剰涔変笌浠峰�尖�斺�斾互鏁板瓧姒傚康鍙茬爺绌朵负渚媅J].鏂囪壓鐞嗚�轰笌鎵硅瘎,2020(02):23-29.

[71]涓ョ▼.鏂囪壓鐮旂┒闇�瑕佲�滄暟瀛椻�濆悧锛焄J].鏂囪壓鐞嗚�轰笌鎵硅瘎,2020(02):29-33.

[72]鐜嬭春.鈥滄暟瀛椾汉鏂団�濆彇鍚戠殑涓�鍥界幇浠ｆ枃瀛︾爺绌讹細闂�棰樹笌鏂规硶[J].鏂囪壓鐞嗚�轰笌鎵硅瘎,2020(02):33-38.

[73]Abbie Levesque DeCamp. XM<LGBT/>: A Schema for Encoding Queer Identities in Qualitative Research[J]. Elsevier Inc.,2020,55.

[74]鏉庢枃鍖�,闄堣櫣,鏉庡啲钑�.鏁板瓧浜烘枃瑙嗗煙涓嬬殑鍗楁捣鏇磋矾绨跨患鍚堢爺绌禰J].澶у�﹀浘涔﹂�嗗�︽姤,2020,38(02):91-98.

[75]Duan,Chiang,Leyk,Uhl,Knoblock. Automatic alignment of contemporary vector data and georeferenced historical maps using reinforcement learning[J]. Taylor & Francis,2020,34(4).

[76]濮滀箹淇�.鍥句功棣嗗�︼細璇濊��浣撶郴涓庣悊璁哄垱鏂癧J].鏂颁笘绾�鍥句功棣�,2020(03):11-18.

[77].銆婃柊涓栫邯鍥句功棣嗐�嬬紪杈戦儴2020骞寸敤绋块�夐�樻寚鍗梉J].鏂颁笘绾�鍥句功棣�,2020(03):18.

[78]鑼冩枃娲�,鏉庡繝鍑�,榛勬按娓�.鍩轰簬绀句細缃戠粶鍒嗘瀽鐨勩�婂乏浼犮�嬫垬浜夎�￠噺鍙婂彲瑙嗗寲鐮旂┒[J].鍥句功鎯呮姤宸ヤ綔,2020,64(06):90-99.

[79]鏉庢槑鏉�,寮犵氦鏌�,闄堟ⅵ鐭�.鍙ょ睄鏁板瓧鍖栫爺绌惰繘灞曡堪璇�(2009-2019)[J].鍥句功鎯呮姤宸ヤ綔,2020,64(06):130-137.

[80]閮戝媷,寮犳晱.鏁板瓧浜烘枃瑙嗗煙涓嬫。妗堟枃鍖栬祫婧愬紑鍙戞暣鍚堢爺绌禰J].灞辫タ妗ｆ��,2020(02):109-112+32.

[81]. Information Technology - Data Analytics; New Findings from University of Helsinki Update Understanding of Data Analytics (Using the Semantic Web in digital humanities: Shift from data publishing to data-analysis and serendipitous knowledge discovery)[J]. Information Technology Newsweekly,2020.

[82]榛勬樉.浣滀负鍙叉枡鐨勬暟瀛楀獟浠�:鍩轰簬S甯傚煄甯傚巻鍙茬敓浜х殑涓�妗堣�冨療[J].鏂伴椈鐭ヨ瘑,2020(03):27-34.

[83].鏈�鏈熻仛鐒�[J].涓�鍥界炕璇�,2020,41(02):1.

[84]鑳″紑瀹�,榛戦粺.鏁板瓧浜烘枃瑙嗗煙涓嬬炕璇戠爺绌讹細鐗瑰緛銆侀�嗗煙涓庢剰涔塠J].涓�鍥界炕璇�,2020,41(02):5-15+187.

[85]绔ヨ尩.鏁板瓧浜烘枃鑼冨紡妗嗘灦涓庣粯鐢绘枃鐗〢I鏅鸿兘鐮旂┒[J].璁＄畻鏈轰骇鍝佷笌娴侀��,2020(03):133-135.

[86]璧靛畤缈�,鍒樺懆棰�,鍒樼倻,楂樿儨瀵�,寮犵��.鍒涙剰绫诲紑鏀炬暟鎹�绔炶禌浣滃搧璇勪环鎸囨爣浣撶郴鏋勫缓涓庢祴瀹氣�斺�斾互鏁板瓧浜烘枃椤圭洰涓轰緥[J].涓�鍥藉浘涔﹂�嗗�︽姤,2020,46(02):75-95.

[87]瀹嬪畞杩�,鐜嬫檽鍏�.鍩轰簬鎯呰妭鏈�浣撶殑鍙欎簨鎬ф枃鏈�璇�涔夌粨鏋勫寲琛ㄧず鏂规硶鐮旂┒[J].涓�鍥藉浘涔﹂�嗗�︽姤,2020,46(02):96-113.

[88]寮犲叴鏃�.浠庘�滀腑鎰忔枃鍖栫浉浜测�濈幇璞＄湅鎰忓ぇ鍒╂按涓嬫枃鍖栭仐浜ф暟瀛楀浘涔﹂�嗗缓璁惧�规垜鍥界殑鍚�绀篬J].楂樻牎鍥句功棣嗗伐浣�,2020,40(02):26-33.

[89]鍒樿�樺崕.杩滅▼闃呰�绘椂浠ｈ瘲瀛﹀�硅瘽鐨勬柟娉曡�哄缓鏋刐J].鍗庝笢甯堣寖澶у�﹀�︽姤(鍝插�︾ぞ浼氱�戝�︾増),2020,52(02):84-94+195.

[90].鍏氬憳澶ц�嗛噹[J].瀹炶返(鍏氱殑鏁欒偛鐗�),2020(03):48-49.

[91]鐜嬫稕. 鍙戞尌鏁板瓧浜烘枃鍦ㄥ彶瀛︾爺绌朵腑鐨勬晥鐢╗N]. 绀句細绉戝�︽姤,2020-03-12(005).

[92]鐜嬭磭,寮犳斂.缈昏瘧鐮旂┒鏂拌矾寰�:鏁板瓧浜烘枃鏂伴噴[J].澶栬��鏁欏��,2020,41(02):81-86.

[93]绔ヨ尩.璇�涔夊寲鐭ヨ瘑妯″瀷鏋勫缓涓庡叧鑱旀暟鎹�鐮旂┒鈥斺�旇懀鍏舵槍鏁板瓧浜烘枃鏁版嵁缁樺埗鎶ュ憡[J].绉戞妧浼犳挱,2020,12(05):135-137.

[94]鍏跺叾鏍�.鏁板瓧浜烘枃椤圭洰涓�鏁板瓧鍖栨爣鍑嗗垵鎺�[J].绉戞妧鍒涙柊涓庣敓浜у姏,2020(03):36-39.

[95]鍒樻�傞攱,鑻忔枃鎴�,鍗㈢珷骞�.鍔犲己鎴樼暐瑙勫垝  瀹炵幇杞�鍨嬪崌绾р�斺�斺�滃浘涔﹂�嗘垬鐣ヨ�勫垝涓庡�︾�戝彂灞曞浗闄呯爺璁ㄤ細鈥濈患杩癧J].鍥句功鎯呮姤鐮旂┒,2020,13(01):122-128.

[96]榫欏�跺簡,鐜嬬帀鐝�,鏉庡瓙鏋�,璁镐匠娆�.鏁板瓧浜烘枃瀵规垜鍥芥。妗堥�嗗煙鐨勫奖鍝�:鎸戞垬銆佹満閬囦笌瀵圭瓥[J].妗ｆ�堝�︾爺绌�,2020(01):104-110.

[97]. Science - Linguistics; New Findings from University of Victoria in the Area of Linguistics Reported (Shelf life: Identifying the abandonment of online digital humanities projects)[J]. Science Letter,2020.

[98]璁告旦,妗備腹浜�,鍚翠腹.浜轰笌淇℃伅鏃犲�勪笉鍦ㄧ殑杩炴帴涓庝氦浜掆�斺��2019骞碅SIS&T骞翠細璁烘枃缁艰堪[J].鍥句功鎯呮姤鐭ヨ瘑,2020(02):82-92.

[99]. Science - Linguistics; Investigators at University of Hamburg Detail Findings in Linguistics (Beyond digitization? Digital humanities and the case of Hebrew literature)[J]. Science Letter,2020.

[100]榄忓缓浜�.閲嶅�℃灄鍏村畢鐨勭郴缁熻�烘枃鑹哄�︽�濇兂[J].灞变笢绀句細绉戝��,2020(03):97-103.

[101]鐜嬫槉,钖涙枃钀�,鍛ㄦ槉,璋�蹇呭媷.鏁板瓧浜烘枃瑙嗚�掍笅鐨勭孩鑹叉枃鍖栦紶鎵库�斺�斾互绾㈠珎绮剧�炰负渚媅J].灞辫タ妗ｆ��,2020(02):92-100.

[102]钖涙枃钀�,鍛ㄦ槉,鐜嬫槉,璋�蹇呭媷.鏁板瓧浜烘枃瑙嗚�掍笅鐨勭孩鑹叉。妗堣祫婧愬缓璁锯�斺�斾互娌傝挋绾㈠珎妗ｆ�堜负渚媅J].灞辫タ妗ｆ��,2020(02):85-91.

[103]Arianne Hartsell-Gundy,Kelley Lawton,Hannah Rozear. 17 librarians and one big undertaking: creating a digital project from start to finish[J]. Routledge,2020,32(1).

[104]Aroyo Lora,de Jong Franciska,Hyv枚nen Eero,Tonelli Sara. Web Semantics for Digital Humanities[J]. Elsevier,2020,61(C).

[105]宕斿嚖濞�.鎺㈢储鏁板瓧浜烘枃[J].璺ㄦ枃鍖栫爺绌�,2019(02):210-244+275-276.

[106]閮戣晩,鏉滆崳鑺�.鏁板瓧浜烘枃鏃朵唬楂樻牎鍥句功棣嗚挋鍙ゅ�﹀�︾�戞湇鍔″崌绾х爺绌垛�斺�斾互鍐呰挋鍙ら珮鏍″浘涔﹂�嗕负渚媅J].鍛间鸡璐濆皵瀛﹂櫌瀛︽姤,2020,28(01):102-106.

[107]Shung-eun Hwang. 雮挫毄 欷戩嫭 頃滉淡鞏� 甑愳湣鞚� 鞙勴暅 頃欖垹鞏错湗 甑愳湣 鞐瓣惮-鞓�霛检澑 靷�鞝� 臧滊皽鞚� 鞙勴暅 旮办磮 鞐瓣惮[J]. 頃滉淡旎错摠韯办爼氤错暀須�,2020,25(2).

[108]鏉庢槑鏉�,鏉ㄧ拹鍢�.鍩轰簬GIS鐨勬槑浠ｅ彜绫嶇増鍒诲湴鐞嗕俊鎭�绯荤粺鐨勮�捐�′笌瀹炵幇[J].淇℃伅璧勬簮绠＄悊瀛︽姤,2020,10(03):125-133.

[109]瀛ｅ崼涓�.鏂版枃绉戠殑瀛︽湳鑼冨紡涓庨泦缇ゅ寲[J].涓婃捣浜ら�氬ぇ瀛﹀�︽姤(鍝插�︾ぞ浼氱�戝�︾増),2020,28(01):11-14.

[110]鑻忚姵鑽�,甯镐汉鏉�.鏁板瓧浜烘枃鐮旂┒鈥斺�旇法瀛︾�戞�с�佸悎浣滄ā寮忓強涓婚�榌J].鍥句功鎯呮姤瀵煎垔,2020,5(02):53-58.

[111]灏氬�嬪畤,浠绘枃鏂�.闈㈠悜鏁板瓧浜烘枃鐨勯珮鏍″紑鏀炬。妗堢粍缁囩瓥鐣ュ強鍒╃敤妯″紡鐮旂┒[J].灞辫タ妗ｆ��,2020(02):101-108.

[112]Evangeline Tsao. Bodies of information: intersectional feminism and digital humanities[J]. Routledge,2020,23(3).

[113].銆婃柊涓栫邯鍥句功棣嗐�嬬紪杈戦儴2020骞寸敤绋块�夐�樻寚鍗梉J].鏂颁笘绾�鍥句功棣�,2020(02):16.

[114]鏉庢柊鏉�,钄￠�歌摀,鏉庝腹闃�.淇℃伅绉戝�︾爺绌跺墠娌夸笌鐑�鐐光�斺��2019骞碅SIS&T骞翠細缁艰堪[J/OL].鍥句功棣嗚�哄潧:1-11[2020-06-26].http://kns.cnki.net/kcms/detail/44.1306.G2.20200219.1112.002.html.

[115].闃呰�讳腑鐨勯潚骞村�﹁�呪�斺��2019骞村害鍥句功鎯呮姤涓庢。妗堢�＄悊闃呰�讳功鍗昜J].鍥句功鎯呮姤鐭ヨ瘑,2020(01):115-127.

[116]閽熻繙钖�.鍑℃槸杩囧線,鐨嗕负搴忕珷鈥斺�旇瘎銆婃暟瀛椾汉鏂�:鏀瑰彉鐭ヨ瘑鍒涙柊涓庡垎浜�鐨勬父鎴忚�勫垯銆媅J/OL].鍥句功棣嗚�哄潧,2020(07):1-8[2020-06-26].http://kns.cnki.net/kcms/detail/44.1306.G2.20200217.1542.002.html.

[117]鑻忔晱.缇庡浗楂樻牎鍥句功棣嗗紑灞曟暟瀛椾汉鏂囨湇鍔＄殑璺�寰勪笌鍚�绀篬J/OL].鎯呮姤鐞嗚�轰笌瀹炶返:1-11[2020-06-26].http://kns.cnki.net/kcms/detail/11.1762.g3.20200217.1538.002.html.

[118]鍛ㄦ祾.澶ф暟鎹�瑙嗛噹涓嬬殑鏁板瓧浜烘枃涓庢柊闂诲彶浜虹墿鐮旂┒[J].浼犲獟瑙傚療,2020(02):87-93.

[119]鑸掑繝姊�.鏁板瓧浜烘枃鑳屾櫙涓嬬殑妗ｆ�堢煡璇嗗浘璋辨瀯寤虹爺绌禰J].灞辫タ妗ｆ��,2020(02):53-60.

[120]寮犲姏鍏�,鐜嬪啗.鍩轰簬绀句細缃戠粶鍔ㄥ姏瀛︾殑涓ゅ畫瀛︽湳鍜屾斂娌讳綋绯绘瘮杈冨垎鏋怺J].鎯呮姤宸ョ▼,2020,6(01):34-49.

[121]Stefanos Geroulanos,Leif Weatherby. Cybernetics and the human sciences[J]. SAGE Publications,2020,33(1).

[122]寰愬織鐜�,鍒樼帀鍗�.鍥句功鎯呮姤瀛﹀�︾�戣�嗗煙涓嬬殑澶ф暟鎹�鎸栨帢鐮旂┒椤圭洰鍐呭�瑰垎鏋愨�斺�斾互鈥滄寲鎺樻暟鎹�鎸戞垬鈥濋」鐩�涓轰緥[J].鎯呮姤鎺㈢储,2020(02):72-76.

[123]瀛熷缓,鑳″�﹀嘲.鏁板瓧浜烘枃鐮旂┒:瓒呭�︾�戞柟娉曡�虹殑涓�绉嶈�ょ煡涓庨槓閲奫J].鐜颁唬浼犳挱(涓�鍥戒紶濯掑ぇ瀛﹀�︽姤),2020,42(02):13-17+24.

[124]. Science - Linguistics; Recent Findings in Linguistics Described by Researchers from University of Bergamo (Syncretic Modality In Slideshows In the Era of Digital Humanities: Towards a Reconceptualization of Visuals?)[J]. Science Letter,2020.

[125]鐢冲�╁��,璐哄溅骞�,椹�闆�姊�.缇庡浗椹�閲屽叞澶у�︽暟瀛椾汉鏂囧�︾�戞暀鑲插疄璺电爺绌禰J].绉戞暀瀵煎垔(涓婃棳鍒�),2020(02):8-9+12.

[126]鏉庡瓙鏋�,璁镐匠娆�.妗ｆ�堝湪鏁板瓧浜烘枃鐮旂┒涓�鐨勭壒娈婃�с�侀」鐩�璇嗗埆鍙婂簲鐢╗J].灞辫タ妗ｆ��,2020(02):61-69.

[127]. Look Up, Look Out: Discrepant Stories from the Old Eighth Ward[J]. Pennsylvania State University Press,2020,87(1).

[128]. Reframing, Rethinking, and Remembering: Considering the Digital Harrisburg Project[J]. Pennsylvania State University Press,2020,87(1).

[129]Charles Travis,Francis Ludlow,Al Matthews,Kevin Lougheed,Kieran Rankin,Bernard Allaire,Robert Legg,Patrick Hayes,John Nicholls,Lydia Towns,Poul Holm. Inventing the Grand Banks: A deep chart[J]. Geo: Geography and Environment,2020,7(1).

[130]闄堥潤.澶嶆暟鐨勬暟瀛椾汉鏂団�斺�旀瘮杈冭�嗛噹涓嬬殑涓�鍥芥暟瀛椾汉鏂嘯J].绀句細绉戝�︽枃鎽�,2020(01):104-106.

[131]Marcella Cornia,Matteo Stefanini,Lorenzo Baraldi,Massimiliano Corsini,Rita Cucchiara. Explaining digital humanities by aligning images and textual descriptions[J]. Elsevier B.V.,2020,129.

[132]鏉ㄥ獩.鏁板瓧闊充箰瀛︾爺绌剁患杩癧J].鍖楁柟闊充箰,2020(02):4-5+14.

[133]鍚翠附鍗�.鎴戝浗鏁板瓧浜烘枃棰嗗煙鐮旂┒鐗瑰緛鍒嗘瀽鈥斺�斿熀浜嶤NKI鏈熷垔鏁版嵁[J].鍐呰挋鍙ょ�戞妧涓庣粡娴�,2020(02):156-158+160.

[134]闄堢惓.鍩轰簬鐭ヨ瘑鍥捐氨鐨勫浗鍐呮暟瀛椾汉鏂囩爺绌剁幇鐘跺垎鏋怺J].鍥句功棣嗗�﹀垔,2020,42(01):89-94.

[135].2019骞村害涓�鍥藉浘鎯呮。瀛︾晫鍗佸ぇ瀛︽湳鐑�鐐筟J].鎯呮姤璧勬枡宸ヤ綔,2020,41(01):5-12.

[136]绋嬮潤.鍥藉唴澶栨暟瀛椾汉鏂囨湇鍔″钩鍙板缓璁剧幇鐘跺強鎬濊�僛J].鍥句功棣嗗�︾爺绌�,2020(02):37-42.

[137]鍙堕潠瀹�.鏁板瓧浜烘枃鎶�鏈�鍦ㄦ。妗堢紪鐮斾腑鐨勫簲鐢ㄧ爺绌禰J].鐢佃剳鐭ヨ瘑涓庢妧鏈�,2020,16(03):13-15.

[138]瑗胯挋路椹�闇嶅凹.鏁板瓧浜烘枃鐨勭爺绌惰��瑷�鍜岀爺绌跺�硅薄锛堣嫳鏂囷級[J].涓�鍥芥瘮杈冩枃瀛�,2020(01):96-113.

[139].銆婃暟瀛椾汉鏂囥�嬪垱鍒婁华寮忔毃鏁板瓧浜烘枃宸ヤ綔鍧婂湪娓呭崕澶у�︿妇琛孾J].娓呭崕澶у�﹀�︽姤(鍝插�︾ぞ浼氱�戝�︾増),2020,35(01):207.

[140]鏈辨槬娲�.鏁板瓧浜烘枃瑙嗚�掍笅涓�鍥藉彜浠ｆ祦璐�鐮旂┒鏂囩尞鍙�瑙嗗寲鍒嗘瀽[J].鍥句功棣�,2020(01):29-35.

[141]涓佸叞鍏�.鏁板瓧浜烘枃瑙嗛噹涓嬮珮鏍″浘涔﹂�嗗憳涓庝汉鏂囧�﹁�呭悎浣滄帰鏋怺J].婀栧窞甯堣寖瀛﹂櫌瀛︽姤,2020,42(01):113-116.

[142]娈靛姏钀�,榄忓嚖.鏂囩尞璁￠噺瀛﹁�嗚�掍笅鐨勫叏鐞冩暟瀛椾汉鏂囧彂灞曠幇鐘剁爺绌禰J].鍥句功棣�,2020(01):36-43.

[143]鍛ㄧ瑧鐩�,榄忓ぇ濞�.鏁板瓧浜烘枃鑳屾櫙涓嬪熀浜庨渶姹傜殑鐭ヨ瘑鍙�瑙嗗寲鏂规硶鐮旂┒鈥斺�斾互鍥藉浘鍏�寮�璇剧殑瑙嗛�戝唴瀹瑰彲瑙嗗寲涓轰緥[J].鍥句功棣�,2020(01):20-28.

[144]閭瑰父鍕�.澶ф暟鎹�瑙嗗煙涓嬬炕璇戝�︽暟瀛椾汉鏂囩爺绌禰J].瑗垮崡浜ら�氬ぇ瀛﹀�︽姤(绀句細绉戝�︾増),2020,21(01):123-129.

[145]闄堝ぉ鏃�.鏁板瓧浜烘枃涓�鐨勫畾鎬т笌瀹氶噺鐮旂┒[J].鍏板彴鍐呭��,2020(02):36-37.

[146]瑭归�哥弬.鏁板瓧浜烘枃椤圭洰鍓嶇��鍘嗗彶妗ｆ�堣祫婧愪紬鍖呮帰鏋愶細鐗瑰緛銆侀�庨櫓鍙婂叾鎺у埗[J].灞辫タ妗ｆ��,2020(02):77-84.

[147]鑻忔晱.鍥句功棣嗗紑灞曟暟瀛椾汉鏂囨湇鍔＄爺绌剁患杩癧J].鎯呮姤鎺㈢储,2020(01):120-126.

[148].闃呰�讳腑鐨勯潚骞村�﹁��:2019骞寸紪杈戝嚭鐗堝�﹂槄璇讳功鍗昜J].鍑虹増绉戝��,2020,28(01):116-128.

[149]鑼冪帀鍒�.鏂囧寲杞�鍚戜笌鏁板瓧浜烘枃瑙嗗煙涓�鐨勭編瀛︾爺绌惰寖寮忛噸鏋刐J].涓�鍥介珮鏍＄ぞ浼氱�戝��,2020(01):124-134.

[150]闄堣嫍,鍒樻櫁鏈�.鏁板瓧浜烘枃鐮旂┒鐑�鐐逛笌鍙戝睍瓒嬪娍鐨勬柇闈㈣�冨療鈥斺�斾互銆婃暟瀛椾汉鏂囧�ｅ垔銆嬪拰銆婁汉鏂囧�︾�戜腑鐨勬暟瀛楄�＄畻銆嬩负涓�蹇僛J].鍥句功棣嗙爺绌朵笌宸ヤ綔,2020(01):10-16.

[151]娼樺▉,鐜嬪摬,婊″織鏁�.杩�20骞存潵鍘嗗彶鍦扮悊淇℃伅鍖栫殑鍙戝睍鎴愬氨[J].涓�鍥藉巻鍙插湴鐞嗚�轰笡,2020,35(01):25-35+82.

[152]Simon Mahony.Language and the subjects of study in the Digital Humanities[J/OL].涓�鍥芥瘮杈冩枃瀛�:1-16[2020-06-26].https://doi.org/10.16234/j.cnki.cn31-1694/i.20200109.001.

[153]Alex H. Poole,Deborah A. Garwood. Digging into data management in public鈥恌unded, international research in digital humanities[J]. John Wiley & Sons, Inc.,2020,71(1).

[154]鏁︽枃鏉�.鏂版妧鏈�鐜�澧冧笅鍥句功棣嗗�逛紶缁熸枃鍖栫殑浼犳壙涓庡彂灞昜J].鍥句功棣嗗�﹀垔,2019,41(12):30-35.

[155]鐜嬫�濆��.鏁板瓧浜烘枃瑙嗛槇涓嬫。妗堟暟瀛楀寲鐢熷瓨璺�寰勭殑鍒涙柊鎬濊�僛J].灞辫タ妗ｆ��,2020(02):70-76.

[156]鍒樺畞闈�,鍒橀煶,鐜嬭帿瑷�,閮�鏅�.鏁板瓧浜烘枃瑙嗚�掍笅瀛︽湳鍚嶄汉鐭ヨ瘑妯″瀷鏋勫缓鐮旂┒鈥斺�斾互鏉庢斂閬撴暟瀛楄祫婧愪腑蹇冧负渚媅J].鍥句功鎯呮姤宸ヤ綔,2019,63(23):113-121.

[157]Radhika Gajjala. New Digital Worlds: Postcolonial Digital Humanities in Theory, Praxis, and Pedagogy[J]. Routledge,2020,41(1).

[158]Pamela VanHaitsma. Between archival absence and information abundance: Reconstructing Sallie Holley's abolitionist rhetoric through digital surrogates and metadata[J]. Routledge,2020,106(1).

[159]R. Cecilia Knight,Elizabeth Rodrigues,Rebecca Ciota. Facilitating Collaborative Metadata Creation for Faculty-initiated Digital Projects[J]. Routledge,2020,20(1).

[160]鍚寸函,榛勮瘲鑾�.鍙版咕鍥句功棣嗗垎榫勫垎浼楁湇鍔″疄璺靛強鍚�绀篬J].褰撲唬鍥句功棣�,2019(04):28-31+38.

[161]旯�氙检��. 雿办澊韯半矤鞚挫姢搿滌劀鞚� 靸侅儊鞚� 氚曤�缄磤瓿� 靸堧�滌毚 靹滌偓: 霐旍��韯� 鞚鸽�疙暀 甏�鞝愳潉 欷戩嫭鞙茧�淸J]. 頃滉淡鞝勳嫓靷办梾鞙淀暕鞐瓣惮鞗�,2019,37(5).

[162]寤栨斂璐�.鍙版咕鍦板尯鍏�鍏卞浘涔﹂�嗗弬涓庢暟瀛椾汉鏂囧彂灞曟帰鏋怺J].鍥句功棣嗙悊璁轰笌瀹炶返,2019(12):12-16.

[163]鏋楁檽鐕�. 鍥為【涓庢�荤粨  瀹堟�ｅ張姹傛柊[N]. 涓�鍥界ぞ浼氱�戝�︽姤,2019-12-30(004).

[164]Gabriele Griffin. Intersectionalized Professional Identities and Gender in the Digital Humanities in the Nordic Countries[J]. SAGE Publications,2019,33(6).

[165]澶忓┓濠�,鐜嬭��娆�,閭瑰┓,鐜嬭姽.鏁板瓧浜烘枃瑙嗚�掍笅鐨勮嫃宸炲悕浜烘晠灞呬繚鎶や笌鍒╃敤鐮旂┒[J].鑷�鐒朵笌鏂囧寲閬椾骇鐮旂┒,2019,4(12):60-64.

[166]寰愭櫒椋�,鍖呭钩.闈㈠悜鍐滃彶棰嗗煙鐨勬暟瀛椾汉鏂囩爺绌跺熀纭�璁炬柦寤鸿�剧爺绌垛�斺�斾互鏂瑰織鐗╀骇鐭ヨ瘑搴撴瀯寤轰负寮昜J].涓�鍥藉啘鍙�,2019,38(06):40-51.

[167]Jean-Baptiste Lamy. Visualizing undirected graphs and symmetric square matrices as overlapping sets[J]. Springer US,2019,78(23).

[168]L谩szl贸 Bengi. Calculation as a cultural practice in modern literature[J]. Springer International Publishing,2019,46(2).

[169]钄￠��,钄¤繋鏄�.缇庡浗澶у�﹀浘涔﹂�嗛�嗚棌璧勬簮缁勭粐杩涘睍[J].鍥句功棣嗚�哄潧,2020,40(06):166-173.

[170]鏈辩孩鑹�,钂嬭帋.鎴戝浗楂樻牎鏁板瓧浜烘枃鏁欒偛妯″紡鍒濇帰[J].鍥涘窛鍥句功棣嗗�︽姤,2019(06):85-88.

[171]鐜嬭櫣.鈥滃弻涓�娴佲�濋珮鏍″浘涔﹂�嗙壒鑹茶祫婧愬缓璁剧幇鐘惰皟鏌ョ爺绌禰J].鍥句功棣嗗�︾爺绌�,2019(24):43-50.

[172]鍛ㄦ枃娉�,鍒橀潤.鏁板瓧浜烘枃鍜屽浘涔︽儏鎶ヤ笌妗ｆ�堢�＄悊鐨勫弻鍚戞瀯寤鸿�佺偣鐮旂┒[J].鍥句功涓庢儏鎶�,2019(06):101-110.

[173]宸﹀��,寮犲崼涓�.鏁板瓧浜烘枃瑙嗚�掍笅鐨勬。妗堝�︾爺绌禰J].鍥句功涓庢儏鎶�,2019(06):94-100.

[174]涓佹暚杈�,椴佽幑.鏂�鍧︾�忓ぇ瀛︽暟瀛椾汉鏂囨暀鑲插疄璺靛強鍥句功棣嗘敮鎾戞湇鍔�[J].鍐滀笟鍥句功鎯呮姤,2019,31(11):15-22.

[175]寮犵惇,绾�鏈変功,鐜嬩笢娉�.瀹氶噺瀵规瘮瑙嗚�掍笅鐨勫浗澶栨暟瀛椾汉鏂囩爺绌惰繘灞曞垎鏋怺J].鍐滀笟鍥句功鎯呮姤,2019,31(11):4-14.

[176]閭变紵浜�.鎴戝浗鍙版咕鏁板瓧浜烘枃鐮旂┒杩涚▼(2009鈥�2017)[J/OL].鍥句功棣嗚�哄潧,2020(07):1-11[2020-06-26].http://kns.cnki.net/kcms/detail/44.1306.g2.20191223.0921.006.html.

[177]璧甸洩鑺�,鑾�闀块暛,鏉庡ぉ濞�,缃楄��.浜烘枃瀛﹁�呯殑鏁板瓧浜烘枃鎺ュ彈鎰忔効褰卞搷鍥犵礌鈥斺�斾互鍘嗗彶瀛﹁�呬负涓�蹇冪殑鑰冨療[J].鍥句功棣嗚�哄潧,2020,40(04):40-49.

[178]Simon Colreavy-Donnelly,Stuart O鈥機onnor,Elmina Homapour. I-Ulysses: A technical report[J]. Elsevier B.V.,2019,32.

[179]鐜嬫柊鐏�.鏁板瓧浜烘枃鑳屾櫙涓嬬殑鍥句功棣嗚�昏�呮湇鍔″伐浣滄帰璁╗J].绉戞妧鍒涙柊瀵兼姤,2019,16(36):257-258.

[180]Christian Sieg. Topic Modeling von Fallgeschichten[J]. Springer Berlin Heidelberg,2019,49(4).

[181]Adam Jatowt,Daisuke Kawai,Katsumi Tanaka. Time-focused analysis of connectivity and popularity of historical persons in Wikipedia[J]. Springer Berlin Heidelberg,2019,20(4).

[182]鏉庣編,榛勫垰.鈥滀竴甯︿竴璺�鈥濅腑鍥�-涓滅洘鏁板瓧浜烘枃涓庣壒鑹查�嗚棌鐨勬櫘閫傛�у钩鍙板姛鑳藉畾浣嶅缓鏋勭爺绌禰J].澶т紬绉戞妧,2019,21(12):135-138+153.

[183]鍔犲皬鍙�,鍐�鎯犵幉.鈥淪CP2鈥濇暟瀛椾汉鏂囨暀鑲茬患鍚堜綋绯荤殑鏋勫缓涓庡簲鐢╗J].鍥句功棣嗚�哄潧,2020,40(04):22-29.


In [451]:
# 第一步, 指定编码,读取文本
ref=open('data\国标引文.txt',encoding='utf8').read()
print(ref[:1000])

[1]梁军.基于数字人文的智慧图书馆建设路径探索[J].才智,2020(18):241.

[2]张婷.台湾地区数字人文研究特色与实践启示[J].高校图书馆工作,2020,40(04):41-45.

[3]杨佳颖,邓璐芗,许鑫.觅江南佳馔：多源古今文本数据融合的沪上饮食图谱构建[J/OL].图书馆论坛:1-9[2020-06-26].http://kns.cnki.net/kcms/detail/44.1306.G2.20200616.1533.002.html.

[4]姚啸华,贺晨芝,徐孝娟,全石峰.面向数字人文的图书馆众包平台构建研究——以上海图书馆历史文献众包平台为例[J].图书馆杂志,2020,39(06):105-112.

[5]范桂红,赵纯洋.基于知识图谱的古籍数字化研究前沿热点及演化趋势分析[J].出版广角,2020(11):85-87.

[6]徐晨飞,叶海影,包平.基于深度学习的方志物产资料实体自动识别模型构建研究[J/OL].数据分析与知识发现:1-17[2020-06-26].http://kns.cnki.net/kcms/detail/10.1478.G2.20200609.1040.006.html.

[7]刘昱彤,吴斌,白婷.古诗词图谱的构建及分析研究[J].计算机研究与发展,2020,57(06):1252-1268.

[8]巴特,邓君.数字人文视域下我国高校口述校史档案建设路径思考[J].兰台世界,2020(06):31-34.

[9]李松涛,张卫东,左娜.数字人文视角下人文研究者利用档案馆藏的行为与激励研究[J].山西档案,2020(03):77-97.

[10]姜育彦,李雅茹.基于数字人文视角的“情感——时空”模型探析[J].农业图书情报学报,2020,32(06):23-33.

[11]梁继文,江川,王东波.基于多特征融合的先秦典籍汉英句子对齐研究[J/OL].数据分析与知识发现:1-13[2020-06-26].http://kns.cnki.net/kcms/detail/10.1478.G2.20200603.0948.002.html.

[12]卢丹丹,聂云霞.数字人文视角下地方特色档案资源开发路径[J/OL].山西档案:1-6[2020-06-26].http://kns.cnki.net/kcms

In [454]:
# 第二步,按换行符分割后转为Series对象,以便于使用Series的 .str 类方法
refs=pd.Series(ref.split('\n')).replace('',pd.NA).dropna()
refs.head()
# 有空行,可以先 drop

0         [1]梁军.基于数字人文的智慧图书馆建设路径探索[J].才智,2020(18):241.
2    [2]张婷.台湾地区数字人文研究特色与实践启示[J].高校图书馆工作,2020,40(04)...
4    [3]杨佳颖,邓璐芗,许鑫.觅江南佳馔：多源古今文本数据融合的沪上饮食图谱构建[J/OL]....
6    [4]姚啸华,贺晨芝,徐孝娟,全石峰.面向数字人文的图书馆众包平台构建研究——以上海图书馆历...
8    [5]范桂红,赵纯洋.基于知识图谱的古籍数字化研究前沿热点及演化趋势分析[J].出版广角,2...
dtype: object

In [455]:
# 第三步,拆分
##第一次拆分,使用 .
refs=refs.str.split(r'.',expand=True)
##第二次拆分,使用 , 将未分拆的列进一步拆分,并与其他列join
refs=refs[[0,1]].join(refs[2].str.split(',',expand=True),rsuffix='_')
##第三次拆分,选取有用的非空列,将未拆分的列进一步拆分,并于其他有用的列join
refs=refs[['0','1','0_','1_']].join(refs[2].str.split(':',expand=True),rsuffix='_')
# 第四步,丢掉空行
refs=refs[['0','1','0_','1_',1]].dropna()
refs.head()

,0,1,0_,1_,1
2,[2]张婷,台湾地区数字人文研究特色与实践启示[J],高校图书馆工作,2020,41-45
6,"[4]姚啸华,贺晨芝,徐孝娟,全石峰",面向数字人文的图书馆众包平台构建研究——以上海图书馆历史文献众包平台为例[J],图书馆杂志,2020,105-112
12,"[7]刘昱彤,吴斌,白婷",古诗词图谱的构建及分析研究[J],计算机研究与发展,2020,1252-1268
18,"[10]姜育彦,李雅茹",基于数字人文视角的“情感——时空”模型探析[J],农业图书情报学报,2020,23-33
24,"[13]Tanja Wissik,Jennifer Edmond,Frank Fischer...",国际视野下的数字人文教育——基础设施视角的社区驱动型数字人文课程登记中心[J],图书馆论坛,2020,1-27

In [456]:
# 第五步,为拆分后的列添加列名
refs.columns=['作者','标题','期刊','年','页码']
refs

,作者,标题,期刊,年,页码
2,[2]张婷,台湾地区数字人文研究特色与实践启示[J],高校图书馆工作,2020,41-45
6,"[4]姚啸华,贺晨芝,徐孝娟,全石峰",面向数字人文的图书馆众包平台构建研究——以上海图书馆历史文献众包平台为例[J],图书馆杂志,2020,105-112
12,"[7]刘昱彤,吴斌,白婷",古诗词图谱的构建及分析研究[J],计算机研究与发展,2020,1252-1268
18,"[10]姜育彦,李雅茹",基于数字人文视角的“情感——时空”模型探析[J],农业图书情报学报,2020,23-33
24,"[13]Tanja Wissik,Jennifer Edmond,Frank Fischer...",国际视野下的数字人文教育——基础设施视角的社区驱动型数字人文课程登记中心[J],图书馆论坛,2020,1-27
...,...,...,...,...,...
974,"[488]郭利敏,葛亮,刘悦如",卷积神经网络在古籍汉字识别中的应用实践[J],图书馆论坛,2019,142-148
982,"[492]陆燕,卢章平",美国高校图书馆的服务转型与发展——CLSEP2018访学报告[J],图书情报研究,2019,68-73
984,"[493]郑丽央,许春漫",美国高校图书馆数字学术馆员队伍建设及启示[J],情报资料工作,2019,100-112
986,"[494]王辉,罗茜,陈圆,谭光辉",数字时代人文学科的命运——“开明论坛”第四期讨论会综述[J],绵阳师范学院学报,2019,109-114+144
996,[499]叶亢,数字人文与英国报刊史研究——以“Gale原始档案数据库”为核心[J],新闻研究导刊,2019,17-19

In [458]:
# 再使用 srt.replace 方法将各列里无关的信息用正则表达式替换掉--作者
refs.作者=refs.作者.str.replace(r'\[\d+\]','')
refs.标题=refs.标题.str.replace(r'\[J\]','')
refs

,作者,标题,期刊,年,页码
2,张婷,台湾地区数字人文研究特色与实践启示,高校图书馆工作,2020,41-45
6,"姚啸华,贺晨芝,徐孝娟,全石峰",面向数字人文的图书馆众包平台构建研究——以上海图书馆历史文献众包平台为例,图书馆杂志,2020,105-112
12,"刘昱彤,吴斌,白婷",古诗词图谱的构建及分析研究,计算机研究与发展,2020,1252-1268
18,"姜育彦,李雅茹",基于数字人文视角的“情感——时空”模型探析,农业图书情报学报,2020,23-33
24,"Tanja Wissik,Jennifer Edmond,Frank Fischer,Fra...",国际视野下的数字人文教育——基础设施视角的社区驱动型数字人文课程登记中心,图书馆论坛,2020,1-27
...,...,...,...,...,...
974,"郭利敏,葛亮,刘悦如",卷积神经网络在古籍汉字识别中的应用实践,图书馆论坛,2019,142-148
982,"陆燕,卢章平",美国高校图书馆的服务转型与发展——CLSEP2018访学报告,图书情报研究,2019,68-73
984,"郑丽央,许春漫",美国高校图书馆数字学术馆员队伍建设及启示,情报资料工作,2019,100-112
986,"王辉,罗茜,陈圆,谭光辉",数字时代人文学科的命运——“开明论坛”第四期讨论会综述,绵阳师范学院学报,2019,109-114+144
996,叶亢,数字人文与英国报刊史研究——以“Gale原始档案数据库”为核心,新闻研究导刊,2019,17-19

In [459]:
# 再把refs拼接成参考文献样式
refs=refs.reset_index()
refs.head()

,index,作者,标题,期刊,年,页码
0,2,张婷,台湾地区数字人文研究特色与实践启示,高校图书馆工作,2020,41-45
1,6,"姚啸华,贺晨芝,徐孝娟,全石峰",面向数字人文的图书馆众包平台构建研究——以上海图书馆历史文献众包平台为例,图书馆杂志,2020,105-112
2,12,"刘昱彤,吴斌,白婷",古诗词图谱的构建及分析研究,计算机研究与发展,2020,1252-1268
3,18,"姜育彦,李雅茹",基于数字人文视角的“情感——时空”模型探析,农业图书情报学报,2020,23-33
4,24,"Tanja Wissik,Jennifer Edmond,Frank Fischer,Fra...",国际视野下的数字人文教育——基础设施视角的社区驱动型数字人文课程登记中心,图书馆论坛,2020,1-27

In [462]:
# [1]肖鹏,彭嗣禹,王蕾. 基本原则与关键问题——学术型图书馆馆员如何启动数字人文项目[J]. 图书馆论坛, 2017, 卷缺失(期缺失): 20-25.
ref_= pd.Series('[',index=refs.index).str.cat(refs['index'].astype('str')).str.cat(refs.作者, sep='] ').str.cat(refs.标题,sep='. ').str.cat(refs.期刊,sep='[J]. ').str.cat(refs.年,sep=', ').str.cat(refs.页码,sep=': ').to_list()
ref_[:20]

['[2] 张婷. 台湾地区数字人文研究特色与实践启示[J]. 高校图书馆工作, 2020: 41-45',
 '[6] 姚啸华,贺晨芝,徐孝娟,全石峰. 面向数字人文的图书馆众包平台构建研究——以上海图书馆历史文献众包平台为例[J]. 图书馆杂志, 2020: 105-112',
 '[12] 刘昱彤,吴斌,白婷. 古诗词图谱的构建及分析研究[J]. 计算机研究与发展, 2020: 1252-1268',
 '[18] 姜育彦,李雅茹. 基于数字人文视角的“情感——时空”模型探析[J]. 农业图书情报学报, 2020: 23-33',
 '[24] Tanja Wissik,Jennifer Edmond,Frank Fischer,Franciska de Jong,Stefania Scagliola,Andrea Scharnhorst,Hendrik Schmeer,Walter Scholger,Leon Wessels,郑炜楠,肖鹏. 国际视野下的数字人文教育——基础设施视角的社区驱动型数字人文课程登记中心[J]. 图书馆论坛, 2020: 1-27',
 '[32] 朱思苑,卢章平. 美国高校图书馆数字人文中心网站建设对我国的启示[J]. 图书情报研究, 2020: 47-54',
 '[38] 邓君,孙绍丹,王阮,宋先智. 美国29所高校数字人文项目研究内容解析[J]. 情报资料工作, 2020: 31-40',
 '[40] 马昭仪,何捷,刘帅帅. 中国古典叙事文学的时空叙事数字模型研究——以《李娃传》为例[J]. 地球信息科学学报, 2020: 967-977',
 '[42] 许刚,秦昆. “空间综合人文学与社会科学的昨天、今天和明天”沙龙纪要[J]. 地球信息科学学报, 2020: 1176-1177',
 '[58] 王丽华,刘炜,刘圣婴. 数字人文的理论化趋势前瞻[J]. 中国图书馆学报, 2020: 17-23',
 '[60] 夏翠娟. 面向人文研究的“数据基础设施”建设——试论图书馆学对数字人文的方法论贡献[J]. 中国图书馆学报, 2020: 24-37',
 '[62] 李惠,侯君明,陈涛,朱庆华,刘炜. 星汉窈渺——书信网络中蕴藏的人际关系挖掘[J]. 图书馆杂志, 2020: 86-92+80',
 '[64] 施晓华,王昕. 数字人文社会网络分析方法应用与研究[J]. 图书馆杂志, 2020: 93-99',
 '[86] 吕璐成,韩涛. AI在图情：人工智能赋能图情服务——2019年图书馆前沿技术论坛(IT4L)会议综述[J]. 农业图书情报学报, 2020: 13-18',
 '[92] 彭文虎. 数字人文环境下高校图书馆阅读推广创新研究[J]. 图书馆学刊, 2020: 45-49',
 '[96] 郑永. 数字人文时代公共图书馆公共数字服务体系建设研究[J]. 江苏科技信息, 2020: 15-17+24',
 '[118] 郑永晓,段海蓉. 古籍数字化、数字人文与古代文学研究——访中国社会科学院郑永晓教授[J]. 吉首大学学报(社会科学版), 2020: 144-151',
 '[122] 孙辉. 认知科学视角下对数字史学的透视[J]. 文献与数据学报, 2020: 57-67',
 '[130] 周文杰. 图情档学科发展的数据化趋向解析——基于2019年度学术热点的系统性文献调查[J]. 情报资料工作, 2020: 20-30',
 '[132] 闫慧. 2019年中国图书情报与档案管理领域研究热点回顾[J]. 情报资料工作, 2020: 5-19']

In [ ]:
# 一些问题: 编号应该从1开始;卷期缺失需加进去;结尾应该再加一个'.';

### 2. 练习
#### 【练习一】 现有一份关于字符串的数据集，请解决以下问题：
#### （a）现对字符串编码存储人员信息（在编号后添加ID列），使用如下格式：“×××（名字）：×国人，性别×，生于×年×月×日”
#### （b）将（a）中的人员生日信息部分修改为用中文表示（如一九七四年十月二十三日），其余返回格式不变。
#### （c）将（b）中的ID列结果拆分为原列表相应的5列，并使用equals检验是否一致。

In [59]:
pd.read_csv('data/String_data_one.csv',index_col='人员编号').head()

          姓名  国籍 性别   出生年  出生月  出生日
人员编号
1      aesfd   2  男  1942    8   10
2     fasefa   5  女  1985   10    4
3      aeagd   4  女  1946   10   15
4        aef   4  男  1999    5   13
5        eaf   1  女  2010    6   24

In [463]:
df1=pd.read_csv('data/String_data_one.csv',index_col='人员编号')#.reset_index()
df1.head(20)

            姓名  国籍 性别   出生年  出生月  出生日
人员编号
1        aesfd   2  男  1942    8   10
2       fasefa   5  女  1985   10    4
3        aeagd   4  女  1946   10   15
4          aef   4  男  1999    5   13
5          eaf   1  女  2010    6   24
6       faefdf   1  男  1942    1   21
7          daf   4  女  1957   11    5
8       faefdf   3  男  1998    4    8
9           fs   3  女  1957    4   14
10    faefdffa   3  女  1988    9   15
11       arege   4  男  1933    4   12
12         ase   3  女  1941    6   18
13        fasf   3  男  1987    7    3
14         gfa   5  女  1967   10    3
15         asf   3  男  1990   10   20
16        eter   4  男  2001    2   13
17         esf   4  女  1987    4   28
18     srgdsrg   5  男  1993    8   12
19      aefase   4  男  1935   10    2
20         szf   1  女  1936    6    3

In [464]:
df1['ID']=df1.姓名.str.cat(pd.Series('(名字)',index=df1.index)).str.cat(df1.国籍.astype('str'),sep=':').str.cat(df1.性别,sep='国人,性别').str.cat(df1.出生年.astype('str'),sep=',生于').str.cat(df1.出生月.astype('str'),sep='年').str.cat(df1.出生日.astype('str'),sep='月').str.cat(pd.Series('日',index=df1.index))

In [465]:
df1['ID'].head()

人员编号
1     aesfd(名字):2国人,性别男,生于1942年8月10日
2    fasefa(名字):5国人,性别女,生于1985年10月4日
3    aeagd(名字):4国人,性别女,生于1946年10月15日
4       aef(名字):4国人,性别男,生于1999年5月13日
5       eaf(名字):1国人,性别女,生于2010年6月24日
Name: ID, dtype: object

In [616]:
df1.出生年.apply(lambda x:list(str(x))).str[0]#.replace('','一')

人员编号
1       1
2       1
3       1
4       1
5       2
       ..
1996    1
1997    1
1998    2
1999    2
2000    1
Name: 出生年, Length: 2000, dtype: object

In [466]:
num2c={'1':'一','2':'二','3':'三','4':'四','5':'五','6':'六','7':'七','8':'八','9':'九','0':'零'}

In [467]:
df1.出生年

人员编号
1       1942
2       1985
3       1946
4       1999
5       2010
        ...
1996    1984
1997    1943
1998    2018
1999    2005
2000    1962
Name: 出生年, Length: 2000, dtype: int64

In [468]:
df1.出生年=df1.出生年.astype('str').str.replace(r'(\d)(\d)(\d)(\d)',lambda x:x.group(1)).replace(num2c).str.cat(df1.出生年.astype('str').str.replace(r'(\d)(\d)(\d)(\d)',lambda x:x.group(2)).replace(num2c)).str.cat(df1.出生年.astype('str').str.replace(r'(\d)(\d)(\d)(\d)',lambda x:x.group(3)).replace(num2c)).str.cat(df1.出生年.astype('str').str.replace(r'(\d)(\d)(\d)(\d)',lambda x:x.group(4)).replace(num2c))
df1.出生年

人员编号
1       一九四二
2       一九八五
3       一九四六
4       一九九九
5       二零一零
        ...
1996    一九八四
1997    一九四三
1998    二零一八
1999    二零零五
2000    一九六二
Name: 出生年, Length: 2000, dtype: object

In [471]:
# 改进,使用"+"来匹配一个或多个数字
# 年份必然有四个数字
%time df1.出生年.astype('str').str.replace(r'(\d)(\d)(\d)(\d)',lambda x:x.group(4)).replace(num2c)

Wall time: 3 ms

人员编号
1       一九四二
2       一九八五
3       一九四六
4       一九九九
5       二零一零
        ...
1996    一九八四
1997    一九四三
1998    二零一八
1999    二零零五
2000    一九六二
Name: 出生年, Length: 2000, dtype: object

In [470]:
l1=['1', '9', '4', '2']
pd.Series(l1).replace(num2c).str.cat()

'一九四二'

In [472]:
# 改进为适用于不定长的年份,但耗时久
%time df1.出生年.astype('str').apply(lambda x:list(x)).apply(lambda x:pd.Series(x).replace(num2c).str.cat())

Wall time: 1.65 s

人员编号
1       一九四二
2       一九八五
3       一九四六
4       一九九九
5       二零一零
        ...
1996    一九八四
1997    一九四三
1998    二零一八
1999    二零零五
2000    一九六二
Name: 出生年, Length: 2000, dtype: object

In [473]:
# 继续改进--耗时较长
df1.出生年.astype('str').apply(lambda x:pd.Series(list(x)).replace(num2c).str.cat())

人员编号
1       一九四二
2       一九八五
3       一九四六
4       一九九九
5       二零一零
        ...
1996    一九八四
1997    一九四三
1998    二零一八
1999    二零零五
2000    一九六二
Name: 出生年, Length: 2000, dtype: object

In [474]:
# 出生月
month2c={'1':'一','2':'二','3':'三','4':'四','5':'五','6':'六','7':'七','8':'八','9':'九','10':'十','11':'十一','12':'十二'}
df1.出生月.astype('str').apply(lambda x:pd.Series(x).replace(month2c).str.cat()).head(20)

人员编号
1      八
2      十
3      十
4      五
5      六
6      一
7     十一
8      四
9      四
10     九
11     四
12     六
13     七
14     十
15     十
16     二
17     四
18     八
19     十
20     六
Name: 出生月, dtype: object

In [475]:
# 出生日
# 解决方案类似出生月,将31以下的数字和对应的汉字组成字典.
day2c={'1':'一','2':'二','3':'三','4':'四','5':'五','6':'六','7':'七','8':'八','9':'九',
       '10':'十','11':'十一','12':'十二','13':'十三','14':'十四','15':'十五','16':'十六','17':'十七','18':'十八','19':'十九',
       '20':'二十','21':'二十一','22':'二十二','23':'二十三','24':'二十四','25':'二十五','26':'二十六','27':'二十七','28':'二十八','29':'二十九',
       '30':'二十','31':'三十一'}
df1.出生日.astype('str').apply(lambda x:pd.Series(x).replace(day2c).str.cat()).head(20)

人员编号
1       十
2       四
3      十五
4      十三
5     二十四
6     二十一
7       五
8       八
9      十四
10     十五
11     十二
12     十八
13      三
14      三
15     二十
16     十三
17    二十八
18     十二
19      二
20      三
Name: 出生日, dtype: object

In [ ]:
# 一个问题:
#         如何将阿拉伯数字转为中文表示?

In [476]:
# 先定义一个函数: 将阿拉伯数字逐位转为中文
def num_to_c(num):
    listnum=list(str(num))
    num_dict={"0":u"零","1":u"一","2":u"二","3":u"三","4":u"四","5":u"五","6":u"六","7":u"七","8":u"八","9":u"九"}
    lst=[]
    for i in listnum:
        lst.append(num_dict[i])
    c_num=''.join(lst)
    return c_num
num_to_c(90064212544)

'九零零六四二一二五四四'

In [477]:
# 在上述函数基础上,逆序分别增加十百千万亿等单位
def num_to_c1(num):
    listnum=list(str(num))
    listnum.reverse()
    num_dict={"0":u"零","1":u"一","2":u"二","3":u"三","4":u"四","5":u"五","6":u"六","7":u"七","8":u"八","9":u"九"}
    p=['','十','百','千','万','十','百','千','亿','十','百','千','兆','十','百','千']
    lst=[]
    for i in range(len(listnum)):
        lst.append(num_dict[listnum[len(listnum)-i-1]])
        lst.append(p[len(listnum)-i-1])
    c_num=''.join(lst)
    return c_num
num_to_c1(542154521544)
# 存在的问题:
##       1.for 循环需要改进得更加易读 
##       2.如果中间存在0, 例如 1024 ,应该转为 一千零二十四, 1204 应该转为一千二百零四,1002 应该转为一千零一.
##       3.

'五千四百二十一亿五千四百五十二万一千五百四十四'

In [478]:
num_to_c1(540050544)
#　这是错误的

'五亿四千零百零十五万零千五百四十四'

In [479]:
# 
df11=df1['ID'].str.split(r'\(名字\)\:',expand=True)
df11=df11.iloc[:,0].to_frame().join(df11[1].str.split('国人,性别',expand=True),rsuffix='_')
df11=df11.iloc[:,:2].join(df11[1].str.split(',生于',expand=True),rsuffix='_')
df11=df11.iloc[:,:3].join(df11[1].str.split('年',expand=True),rsuffix='_')
df11=df11.iloc[:,:4].join(df11[1].str.split('月',expand=True),rsuffix='_')
df11=df11.iloc[:,:5].join(df11[1].str.split('日',expand=True),rsuffix='_')
df11=df11.iloc[:,:6]

df11.columns=df1.columns[:6]
df11

           姓名 国籍 性别   出生年 出生月 出生日
人员编号
1       aesfd  2  男  1942   8  10
2      fasefa  5  女  1985  10   4
3       aeagd  4  女  1946  10  15
4         aef  4  男  1999   5  13
5         eaf  1  女  2010   6  24
...       ... .. ..   ...  ..  ..
1996      sdf  5  男  1984   4  17
1997       hx  1  男  1943   7  16
1998      drg  5  女  2018   4   6
1999  zfgzdrg  5  男  2005   1   3
2000     fsdf  3  女  1962   7  23

[2000 rows x 6 columns]

In [480]:
df11.equals(pd.read_csv('data/String_data_one.csv',index_col='人员编号').astype('str'))
# 确实是和刚读入的数据是相等的

True

#### 【练习二】 现有一份半虚拟的数据集，第一列包含了新型冠状病毒的一些新闻标题，请解决以下问题：
#### （a）选出所有关于北京市和上海市新闻标题的所在行。

In [60]:
pd.read_csv('data/String_data_two.csv').head()

               col1 col2     col3
0  鄂尔多斯市第2例确诊患者治愈出院   19   363.6923
1     云南新增2例，累计124例  -67   -152.281
2   武汉协和医院14名感染医护出院  -86   325.6221
3     山东新增9例，累计307例  -74  -204.9313
4        上海开学日期延至3月  -95       4.05

In [481]:
df2=pd.read_csv('data/String_data_two.csv')

In [482]:
# 北京
df2[df2.col1.str.contains('北京')]
#上海
df2[df2.col1.str.contains('上海')]
# 北京或上海
df2[df2.col1.str.contains('[上海]|[北京]')]

                     col1 col2     col3
4              上海开学日期延至3月  -95       4.05
5    北京新增25例确诊病例，累计确诊253例   -4  -289.1719
6          上海新增10例，累计243例    2   -73.7105
8        好消息！青海3名新冠肺炎患者出院   50   -87.4806
19           海南新增11例累计89例    3  -135.2709
..                    ...  ...        ...
475     青海新增0例确诊病例，疑似新增1例  -40  -264.0617
479          海南新增3例，累计46例   -9  -240.5715
480            青海新增0例确诊病例  -32  -343.4422
497         河北新增17例，累计65例  -54    69.6604
499         上海新增5例，累计101例  -95    157.951

[103 rows x 3 columns]

#### （b）求col2的均值。

In [484]:
# 方法１：　直接定义一个函数来处理
lst=[]
for v in df2.col2.values:
    try:
        lst.append(int(v))
    except:
        lst.append(0)
lst
np.array(lst).mean()

-1.016

In [485]:
# 方法2:　利用问题 2 的方法识别出数字, 然后把能转为数字的转为数字,其他转为0后,求均值
#df2[['col2','col3  ']].apply(lambda x: float(x) if x.str.contains(r'^-?(\d+)(\.\d+)?$') else 0).mean()
df2['col2'][df2['col2'].str.contains(r'^-?(\d+)(\.\d+)?$')].astype('float').mean()
# 不一样,这是由于这种方法把不能识别为数字的排除在外了, 求的是能识别为数字的行的均值.

-1.0221327967806841

In [486]:
# 找出有问题的行
df2['col2'][~df2['col2'].str.contains(r'^-?(\d+)(\.\d+)?$')]

309    0-
396    9`
485    /7
Name: col2, dtype: object

In [487]:
df2['col2'][df2['col2'].str.contains(r'^-?(\d+)(\.\d+)?$')].astype('float').sum()/len(df2)
# 用总和除以行数才一致.

-1.016

In [488]:
df2['col2'][df2['col2'].str.contains(r'^-?(\d+)(\.\d+)?$')].astype('float').sum()/(len(df2)-3)
# 如果除以的是总行数减去有问题的行数,结果就是直接使用mean得到的.

-1.0221327967806841

#### （c）求col3的均值。

In [489]:
lst=[]
for v in df2['col3  '].values:
    try:
        lst.append(float(v))
    except:
        lst.append(0)
lst
np.array(lst).mean()

-1.1849898000000014

In [490]:
df2.columns
# 第三列的列名有空格.

Index(['col1', 'col2', 'col3  '], dtype='object')

In [491]:
df2['col3  '][df2['col3  '].str.contains(r'^-?(\d+)(\.\d+)?$')].astype('float').sum()/(len(df2)-len(df2['col3  '][~df2['col3  '].str.contains(r'^-?(\d+)(\.\d+)?$')]))

-1.1921426559356132

In [492]:
df2['col3  '][df2['col3  '].str.contains(r'^-?(\d+)(\.\d+)?$')].astype('float').sum()/(len(df2))

-1.1849897999999996